// Functions =========================================================================
@function tint($color, $percent) {
	@return mix(white, $color, $percent);
}
@function shade($color, $percent) {
	@return mix(black, $color, $percent);
}

// Extensions ========================================================================
%no-select {
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
%no-drag {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}
%no-tap {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	tap-highlight-color: rgba(0, 0, 0, 0);
	touch-callout: none;
}
%psuedo {
	position: absolute;
	display: block;
	content: "";
}

// Variables =========================================================================
$black: #100a09;
$black_light: #1d1f20;
$white: #fbfcf7;
$blue: #1e88e5;
$lightgray: #d3d0c9;
$darkgray: mix($lightgray, $black);

$twitter: #1da1f2;

$radius: 3px;
$shadow: 0 1px 2px rgba($black, 0.15);
$shadow_hover: 0 2px 3px rgba($black, 0.3);

$sans_serif: "Alegreya Sans", -apple-system, ".SFNSText-Regular",
	"San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande",
	sans-serif;
$monospace: "Monaco", monospace;

$tablet: 38em;
$desktop: 50em;

$left-sidebar: 300px;
$right-sidebar: 100px;

$transition: 0.3s;
$bounce: cubic-bezier(0.5, 1.5, 0.5, 0.9);

// Fonts =============================================================================
@font-face {
	font-family: "Alegreya Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Alegreya Sans"), local("AlegreyaSans-Regular"),
		url(https://fonts.gstatic.com/s/alegreyasans/v3/KYNzioYhDai7mTMnx_gDgp7fs_z8nuqHYC6tC8rLl5s.woff2)
			format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// Reset =============================================================================
* {
	&,
	&:before,
	&:after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		line-height: 1;
	}
}
html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-display: swap;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}

// Base ==============================================================================
body {
	font-family: $sans_serif;
	background: tint($lightgray, 10%);
	padding: 0 0 105px;

	@media (min-width: $tablet) {
		padding: 0 0 0 ($left-sidebar - 10px);
	}
	@media (min-width: $desktop) {
		padding: 0 ($right-sidebar - 10px) 0 ($left-sidebar - 10px);
		padding: 10px ($right-sidebar + 20px) 10px $left-sidebar;
	}
}

h1,
h2 {
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

h1 {
	@extend %no-select;
	font-size: 2.5em;
	margin-bottom: 10px;

	@media (max-width: $tablet) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

h2 {
	font-size: 1.75em;
	text-transform: capitalize;

	.placeholder {
		display: inline-block;
		height: 1em;
		color: $lightgray;
		background: $lightgray;
		border-radius: $radius;
	}
}

p {
	font-size: 17px;
	line-height: 1.2;

	& + p {
		margin-top: 15px;
	}
}

a {
	color: $blue;
	cursor: pointer;
	background-color: transparent;
	color: $black;

	&:active,
	&:hover {
		outline-width: 0;
	}
}

.container {
	padding: 15px;
	margin: 0 auto;
}

.group {
	display: inline-block;
}

// Card ==============================================================================
.box {
	padding: 10px 0;
}
.card {
	position: relative;
	box-shadow: $shadow;
	margin: 10px;
	background: $white;
	border-radius: $radius;

	@media (min-width: $tablet) {
		z-index: 50;
	}

	&.clear {
		background: tint($lightgray, 10%);
		box-shadow: none;
		border-radius: 0;
	}
}

figure.card {
	margin: 0 10px;
}

// Header ============================================================================
header,
footer {
	cursor: default;

	p a {
		display: inline-block;
		text-decoration: none;
		border-bottom: thin solid mix($black, $lightgray);
		line-height: 0.8;
	}
}

@media (min-width: $tablet) {
	header,
	footer {
		position: fixed;
		width: $left-sidebar;
		left: 0;
		text-align: left;
	}

	header {
		top: 0;
	}
	footer {
		bottom: 0;
	}
}
@media (min-width: $desktop) {
	header,
	footer {
		left: 10px;
	}
}

// Tile ==============================================================================
.gradient-preview {
	position: relative;
	height: 80px;
	border-radius: $radius;
	margin: 0 15px;
	background-color: $lightgray;

	:target & {
		height: 160px;
	}
}

.gradient-output {
	position: relative;
}

// Buttons ===========================================================================
.twitter {
	@extend %no-select;
	display: inline-block;
	border-radius: $radius;
	font-size: 15px;
	text-decoration: none;
	background: $white;
	box-shadow: $shadow;
	padding: 10px 12px;
	margin-top: 10px;
	transition: background $transition, color $transition;

	&:hover {
		transition-duration: $transition/2;
		background: $twitter;
		color: $white;
	}

	&:active {
		transition-duration: 0s;
		background: mix($black, $twitter);
		color: mix($black, $white);
		box-shadow: inset $shadow;
	}

	.icon {
		display: inline-block;
		width: 1em;
		height: 1em;
		vertical-align: bottom;
		margin-right: 10px;
	}

	@media (max-width: $tablet) {
		&.mobile {
			float: right;
			margin: 0;
			transform: translate(15px, -10px);
		}
		&.tablet {
			display: none;
		}
	}
	@media (min-width: $tablet) {
		&.mobile {
			display: none;
		}
		&.tablet {
			display: inline-block;
		}
	}

	&.mobile {
		float: right;
		margin: 0;
		// transform: translate(10px, 0);
	}
}

iframe {
	filter: grayscale(1) sepia(0.1);
}

.local-link {
	display: inline-block;
	text-decoration: none;

	figure:hover & {
		.hash {
			color: $blue;
		}

		&:hover {
			.hash,
			.name {
				color: $blue;
			}
		}
		&:active {
			color: $blue;
		}
	}
}

.codepen {
	@extend %no-select;
	display: inline-block;
	font-size: 15px;
	float: right;
	vertical-align: middle;
	line-height: 1.75em;
	color: $black;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	.icon {
		vertical-align: top;
		width: 1.75em;
		height: 1.75em;
	}
}

form {
	display: none;
}

.copy {
	$height: 40px;
	display: none;
	font-size: 15px;
	position: absolute;
	top: -20px;
	left: 15px;
	background: $black;
	line-height: $height;
	padding: 0 15px;
	text-decoration: none;
	border-radius: $radius;
	cursor: pointer;
	// display: none;
	display: inline-block;
	transform: scale3d(0.5, 0.5, 0.5);
	transform-origin: bottom left;
	color: $lightgray;
	opacity: 0;
	pointer-events: none;
	transition: opacity $transition, transform $transition;

	&.is-shown {
		pointer-events: auto;
		transform: scale3d(1, 1, 1);
		opacity: 1;
		transition-timing-function: $bounce;
	}

	&:hover,
	&.is-copied {
		color: $white;
	}

	&:hover {
		text-decoration: underline;
	}
	&.is-copied:hover {
		text-decoration: none;
	}

	// &:after {
	// 	@extend %psuedo;
	// 	bottom: 5px;
	// 	left: 100%;
	// 	width: $radius * 2;
	// 	height: $radius * 2;
	// 	background: $white;
	// 	border-radius: $radius;
	// 	box-shadow: -$radius $radius $black;
	// }
}

// Syntax highlighting ===============================================================
$purple-code: #947d91;
$yellow-code: #ddca7e;
$orange-code: #d0782a;
$blue-code: #809bbd;
$green-code: #96b38a;
$gray-code: #666666;

.gradient-code {
	display: none;
	width: 100%;
	word-wrap: break-word;

	&.on {
		display: block;
	}
}

pre {
	font: 12px/1.5 Monaco, monospace;
	white-space: pre-wrap;
	background: $black;

	color: $white;
	border-radius: $radius;
	box-shadow: $shadow;

	.preview & {
		height: 80px;
	}

	@media (min-width: $tablet) {
		font-size: 13px;
	}
}

.prop {
	color: $purple-code;
}
.function,
.color,
.var {
	color: $yellow-code;
}
.deg {
	color: $orange-code;
}
.variable {
	color: $blue-code;
}
.value {
	color: $green-code;
}
.comment {
	color: $gray-code;
}

// Nav ===============================================================================
nav {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	background: $darkgray;
	padding: 5px;
	// border-radius: $radius $radius 0 0;
	box-shadow: $shadow;

	@media (max-width: $tablet) {
		// &:before {
		// 	@extend %psuedo;
		// 	bottom: 100%;
		// 	left: 0;
		// 	right: 0;
		// 	height: 40px;
		// 	pointer-events: none;
		// 	background: linear-gradient(
		// 		rgba(mix($black, $lightgray), 0),
		// 		rgba(mix($black, $lightgray), 0.5)
		// 	);
		// }
	}

	@media (min-width: $tablet) {
		position: relative;
		left: initial;
		right: initial;
		background: transparent;
		margin: 5px 20px;
		padding: 0;
		box-shadow: none;
	}
	@media (min-width: $desktop) {
		position: fixed;
		top: 10px;
		right: 20px;
		bottom: 0;
		margin: 0;
	}

	.row {
		display: flex;
		margin: 5px 5px;

		@media (min-width: $tablet) {
			flex-wrap: wrap;
			margin-bottom: 10px;
		}

		@media (min-width: $desktop) {
			display: block;
			margin: 10px;
		}
	}
}

.toggle {
	@extend %no-select;
	display: inline-block;
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
	font-size: 14px;
	padding: 12px 10px;
	cursor: pointer;
	background: $white;
	color: $black;
	z-index: 10;
	box-shadow: $shadow;
	border: solid mix($lightgray, $white);
	border-width: 0 1px 0 0;
	text-decoration: none;
	text-align: center;
	-webkit-tap-highlight-color: rgba($black, 0.2);
	tap-highlight-color: rgba($black, 0.2);

	@media (min-width: $tablet) {
		min-width: 50%;
		border-width: 0 0 1px;
		padding: 10px;
		flex: 1 0 auto;
		box-shadow: $shadow;

		&:first-child {
			width: 100%;
		}
	}

	@media (min-width: $desktop) {
		font-size: 14px;
		display: block;
		max-width: 81px;
		padding: 12px 10px;
	}

	&:hover {
		text-decoration: underline;
	}

	&.on {
		background: $black;
		text-decoration: underline;
		background: $black_light;
		color: $white;
		text-decoration: none;
		border-color: $black;
	}

	&:first-child {
		border-radius: $radius 0 0 $radius;

		@media (min-width: $tablet) {
			border-radius: $radius $radius 0 0;
		}
	}

	@media (min-width: $tablet) {
		&[data-language="js-array"],
		&[data-color="rgb"] {
			@media (max-width: $desktop) {
				border-radius: 0 0 0 $radius;
				border: 0;
			}
		}
	}

	&:last-child {
		border-radius: 0 $radius $radius 0;
		border: 0;

		@media (min-width: $tablet) {
			border-radius: 0 0 $radius 0;
		}

		@media (min-width: $desktop) {
			border-radius: 0 0 $radius $radius;
		}
	}
}
