* {
  box-sizing: border-box;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
}

header, section, main, figure, aside, { display: block; }

$green : #0F9D58;
$yellow : #FFE191;
$red : tomato;
$blue : #2b85f5;

$white : #F2F2F2;
$offwhite : #E7E6DD;

$shadow : 0 .125rem 0 rgba(0,0,0,.15);

$transition : .22s;
$bounce : cubic-bezier(.51,.92,.24,1.15);


html, body {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: 100% "Alegreya Sans", sans-serif;
  background: $offwhite;
  overflow: hidden;
}


.title, h2 {
  display: inline-block;
  font-family: bold "Montserrat", sans-serif;
}
h2 { font-size: 1em; }


code {
  display: inline-block;
  font: 400 1em "Source Code Pro";
  transform: translateY(-.125rem);
  float: right;
}

small {
  display: block;
  font-size: smaller;
  padding: 1rem 0 0 4.5rem;
}

i {
  font-family: icon;
  font-style: normal;
  vertical-align: baseline;
}
  .icon-codepen:after { content: "\e806"; }
  .icon-left-small:before { content: "\e811"; }



/* Header ======================================================================================================== */
  header {
    position: relative;
    z-index: 1000;
    background: darken($green, 4%);
    color: $white;
    white-space: nowrap;
    box-shadow:
      0 .25rem rgba(0,0,0,.15);
    overflow: hidden;
    line-height: 3.75rem;
    max-height: 3.75rem;
    user-select: none;

    h2 {
      font-weight: normal;
      font-size: 1rem;
    }
  }

  .share {
    display: inline-block;
    line-height: 3.75rem;
    overflow: hidden;
    padding: 0 1.5rem;
    opacity: 0;
    transition: opacity $transition;

    > * { vertical-align: middle !important; }
  }
  .go .share {
    opacity: 1;
  }



/* Header title ================================================================================================= */
  .title {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: bold;
    color: $white;
    text-decoration: none;
    padding: 0 1.5rem;
    transition: color $transition;
    background: $green;
    line-height: 3.75rem;
    box-shadow: .125rem 0 rgba(10,10,0, .05);

    &:hover { color: white; }
  }

  .dash {
      display: inline-block;
      position: relative;
      vertical-align: baseline;

      &:before, &:after {
        display: inline-block;
        transition: $transition $bounce;
      }

      &:before { content: "Y"; }
      &:after {
        position: absolute;
        top: -.125rem; left: 0; right: 0; bottom: 0;
        text-align: center;
        content: "\2212";
        transform: scaleX(0);
      }
    }

    header:hover {
      .dash {
        &:before {
          transform: scaleY(0);
        }
        &:after {
          transform: none;
        }
      }
    }



/* Main ======================================================================================================== */
  main {
    display: flex;
    flex: 1;
    width: calc(100% + 25rem);
    transition: transform $transition*1.5 $bounce;

    @media (max-width: 600px){
      width: 100%;
    }
  }

  .slide-left main {
    transform: translateX(-25rem);

    @media (max-width: 600px){
      transform: none;
    }

  }



/* Sidebar ======================================================================================================== */
  .sidebar {
    position: relative;
    z-index: 100;
    width: 25rem;
    list-style: none;
    background: $offwhite;
    overflow: hidden;

      @media (max-width: 600px){
        display: none;
      }

    h1 {
      font-weight: 400;
      color: gray;
      padding: 0 .5rem;
    }

    h2 {
      padding-right: .75rem;
      text-transform: uppercase;
    }
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 1rem;
    list-style: none;
    user-select: none;
  }



 /* Cards =================================================== */
  li {
    position: relative;
    background: white;
    padding: 1.5rem;
    margin-bottom: .75rem;
    border-radius: .125rem;
    box-shadow: $shadow;
    transition:
      transform $transition $bounce,
      opacity $transition,
      background $transition;
    transform-origin: top left;

    &:nth-last-of-type { transition-delay: $transition*.1; }
    &:nth-last-of-type(2) { transition-delay: $transition*.2; }
    &:nth-last-of-type(3) { transition-delay: $transition*.3; }
    &:nth-last-of-type(4) { transition-delay: $transition*.4; }
    &:nth-last-of-type(5) { transition-delay: $transition*.5; }
    &:nth-last-of-type(6) { transition-delay: $transition*.6; }
    &:nth-last-of-type(7) { transition-delay: $transition*.7; }

    &.special { transition-delay: 0 !important; }

    &:last-of-type { margin-bottom: 0; }
  }

  .column {
    display: block;
    overflow: hidden;

    .half, .full {
      padding: .375rem 0;
    }

    .half {
      float: left;
      width: 50%;
    }
  }

  h2 { cursor: default; }

  label {
    display: inline-block;
    font-size: 1.4em;
    line-height: .9;
    margin: 0 1.125rem 0 .125rem;
    vertical-align: middle;
    cursor: pointer;
    border-bottom: .125rem solid transparent;
    transition: border-bottom-color $transition;

    &:hover {
      border-bottom-color: lightgray;
    }
  }



/* Inputs =================================================== */
  input[type="radio"],
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: .25rem;
    background: $white;
    cursor: pointer;
    transition: background $transition/2 $bounce;

    &:hover + label { border-bottom-color: lightgray; }
    &:focus { outline: 0; }

    &:checked {
      background: $green;

        & + label {
          border-bottom-color: black;
        }
    }
  }

  input[type="radio"]{ border-radius: 50%; }

  input[type="text"]{
    background: $white;
    display: inline-block;
    width: 12rem;
    font: 500 1.1rem/1 "Source Code Pro";
    padding: .75rem;
    border-radius: .25rem;
    transition: $transition;
    box-shadow: 0 0 0 .125rem transparent;

    &.mini {
      text-align: center;
      width: 4rem;
      font-size: 1.4rem;
      padding: .55rem .75rem;
    }
    &.small {
      text-align: center;
      width: 6rem;
    }

    &:focus {
      outline: 0;
      /* box-shadow: 0 0 0 .125rem $green; */
      background: $green;
      background: $white;
    }
  }

  /* Grid 'x' */
  .initial {
    font-size: 1.5rem;
    padding: 0 .25rem;
  }

  .special {
    transition:
      opacity $transition*2 $transition,
      max-height $transition,
      transform $transition $bounce;
    overflow: hidden;
    max-height: 0;
    transform-origin: center center;
    transform: scale(0);
    opacity: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0;
    padding: 0 1.5rem;

    .message {
      display: block;
      padding: 1.5rem 0 .75rem;
      font-size: 1.1em;
      line-height: 1.2;
    }

    .button {
      display: inline-block;
      background: rgba(0,0,0,.1);
      box-shadow: inset $shadow;
      border-radius: .25rem;
      cursor: pointer;
      padding: .75rem;
      margin-bottom: 1.5rem;
      transition: background $transition;

      &:hover { background: rgba(0,0,0,.2); }

      &:active {
        background: rgba(0,0,0,.4);
        transform: translateY(.125rem);
        transition: 0;
      }
    }
  }

  .custom-alert { background: $yellow; }
  .grid-alert {
    background: $red;

    .message:before {
        display: inline-block;
        content: "\e813";
        float: left;
        line-height: 2.64rem;
        font-family: icon;
        font-size: 1.8rem;
        width: 2.64rem;
      }
  }

  .grid-overflow .grid-alert,
  .customize .custom-alert {
    transform: none;
    max-height: 15rem;
    opacity: 1;
    margin-bottom: .75rem;
  }

  .customize {
    .item {
      cursor: pointer;

      &:hover { background: darken($offwhite, 12%); }

      &.selected {
        background: $yellow;

        &:before { color: transparent; }
        &:after { color: black; }
      }

      &:nth-child(3n).selected { background: darken($yellow, 8%); }
      &:nth-child(3n+1).selected { background: darken($yellow, 4%); }
    }
  }

  .tip {
    position: absolute;
    text-align: right;
    top: .75rem;
    right: .75rem;
    width: 7.5rem;
    transform-origin: top right;
    transform: scale(.5);
    transition: $transition $bounce;
    cursor: help;

    &:hover {
      transform: none;
    }
  }



/* Output ======================================================================================================== */
  .output {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: .25rem;
    bottom: 0;
    transition: $transition*2 $bounce;
    transform: translateX(-2rem) scale3d(.3,.3,.3) translateY(35%);
    transform-origin: bottom right;
    background: rgba(0,0,0,.9);
    overflow: hidden;

    textarea {
      font: 500 12px "Source code pro";
      background: transparent;
      padding: 1.5rem 1.5rem 3rem;
      tab-size: 2;
      resize: none;
      color: $white;
      position: absolute;
      width: 100%;
      height: 100%;

      &:focus { outline: 0; }
    }
  }

  .new-output .output { animation: new-output .5s $bounce; }

  @keyframes new-output {
    from { color: transparent; }
    30% {
      transform: translateX(-2rem) scale3d(.3,.3,.3) translateY(15%);
      color: transparent;
    }
  }



/* Edit on Codepen button =================================================== */
  .codepen {
    font: 3rem 'Montserrat';
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    transform-origin: top right;
    user-select: none;
    z-index: 50;
    transition:
      background $transition,
      transform $transition;
    cursor: pointer;
    color: $white;
  }

  .codepen-button {
    padding: 3rem 1rem;

    &:after {
      content: "EDIT ON CODPEN";
      transition: opacity $transition*1.5;
      opacity: 0;
    }
  }

  .icon-codepen {
    display: block;
    font-size: 2.5em;
    padding-bottom: .25em;
  }

  .output:hover {
    transform: none;
    transition: $transition*1.5;

    .codepen {
      transform: translate3d(0,.75rem,0) scale3d(.25,.25,.25);
      background: transparent;
    }

    .codepen-button:after { opacity: 1; }

    & + .cards li {
      transform: scale3d(.25,.25,.25);
      opacity: 0;
    }
  }

  .pointer-on {
    .codepen-button:hover {
      color: $yellow;
      transition: 0;

      .icon-codepen {
        color: inherit;
      }
    }
  }



/* Tester ======================================================================================================== */
  .tester {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1.5rem;
    box-shadow: $shadow;

    @media (max-width: 600px){
      align-items: flex-end;
    }

    figure {
      transform-style: preserve-3d;
      font-size: 50px;
      width: 8em;
      height: 5em;
      perspective: 500px;
      color: transparent;
      transition: color $transition;
      -webkit-user-drag: none;
      -moz-user-drag: none;
      -ms-user-drag: none;
      user-drag: none;

      @media (max-width: 600px){
        zoom: 50%;

      }

    }

    h1 { line-height: 1.5; }
  }
  .cssanimations .tester { background: white; }

    .small figure { font-size: 30px; }
    .misc-numbers figure { color: black; }



/* Tester Item =================================================== */
  .item {
    float: left;
    position: relative;
    width: 1em;
    height: 1em;
    animation: zoom-out 2s infinite both;
    background: $offwhite;
    background-size: cover;
    text-align: center;

    &:before, &:after {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      display: inline-block;
      font: 400 .5em/2em "Source Code Pro", monospace;
      pointer-events: none;
      vertical-align: middle;
    }

    &:before {
      content: attr(data-nth);
    }
    &:after { content: attr(data-custom-nth); }

    &:nth-child(3n){ background: darken($offwhite, 8%); }
    &:nth-child(3n+1){ background: darken($offwhite, 4%); }
  }

  .paused .item { animation-play-state: paused; }

  .zoom-out .item { animation-name: zoom-out; }
  .vertical-flip .item { animation-name: vertical-flip; }
  .horizontal-flip .item { animation-name: horizontal-flip; }
  .spin .item { animation-name: spin; }
  .opacity .item { animation-name: opacity; }
  .disco .item {
    -webkit-background-blend-mode: multiply;
    -moz-background-blend-mode: multiply;
    background-blend-mode: multiply;
    animation-name: disco;
  }
  .customize .item { animation: none; }

  .misc-pics:not(.customize) .item { background-image: url(sprite.jpg); }
  .misc-dots .item { border-radius: 50%; }
  .misc-monochrome .item { background: $offwhite; }



/* Tester links =================================================== */
  .tester-text {
      font-size: 1.2rem;
      position: absolute;
      top: 1rem;
      padding: .75rem 1.25rem;
      user-select: none;
      color: #444;
      cursor: pointer;
      border-radius: .5rem;

      @media (max-width: 600px){
        display: none;
      }
  }

  .pause {
    left: .75rem;

    &:before {
      display: inline-block;
      font-family: icon;
      content: "\e82d";
      width: 1.125em;
      color: rgba(0,0,0,.5);
    }
    &:after {
      content: "Pause";
    }
  }

    .paused .pause {
      &:before { content: "\e82c"; }
      &:after { content: "Play"; }
    }


  .sidebar-toggle {
    right: 0;
    padding-left: 1.25rem;
    border-radius: .5rem 0 0 .5rem;

    &:after {
      content: "Demo Options";
    }
  }
    .slide-left .sidebar-toggle:after { content: "Close"; }

  .slide-left .sidebar-toggle,
  .paused .pause,
  .tester-text:hover {
    background: $offwhite;
    box-shadow: $shadow;
    text-decoration: none;
    color: black;
  }

  .mobile-message {
    display: none;

    @media (max-width: 600px){
      display: block;
      position: absolute;
      font-size: 1.4rem;
      line-height: 1.3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      box-shadow: inset $shadow;
    }
  }




/* Animations =================================================== */
  @keyframes zoom-out {
    from, to { transform: scale3d(0,0,0); }
    45%,55% { transform: scale3d(1,1,1); }
  }
  @keyframes horizontal-flip {
    to { transform: rotate3d(0,1,0,.5turn); }
  }
  @keyframes vertical-flip {
    to { transform: rotate3d(1,0,0,.5turn); }
  }
  @keyframes spin {
    from, to { transform: none; }
    to { transform: rotate(1turn); }
  }
  @keyframes opacity {
    from, to { opacity: 0; }
    50% { opacity: 1; }
  }
  @keyframes disco {
    20% { background-color: red; }
    40% { background-color: gold; }
    60% { background-color: limegreen; }
    80% { background-color: dodgerblue; }
    to, from { background-color: purple; }
  }



/* Credits =================================================== */
  .credits {
    overflow: hidden;

    p {
      width: 11rem;
      font-size: 1.2rem;
      line-height: 1.2;
      padding-top: 1rem;

      a {
        text-decoration: none;
        font-weight: 500;
        color: black;
        border-bottom: .125rem solid rgba(0,0,0,.15);
        transition: color $transition, border-bottom $blue;

        &:hover {
          color: $blue;
          border-bottom-color: $blue;
        }
      }
    }
  }



/* OOCSS =================================================== */
  .block {
    display: block;
    padding-bottom: .75rem;
  }



/* Fonts =================================================== */
  @font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/KYNzioYhDai7mTMnx_gDgnt9r5m2YmP5sw3cUAQwL0E.woff) format('woff');
  }
  @font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aRSu2h6M8zeGTOAvuRkzdcM.woff) format('woff');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff');
  }
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqbIHYkLmgtPJP77jcqN9P08.woff) format('woff');
  }
  @font-face {
    font-family: 'Icon';
    font-style: normal;
    font-weight: 500;
    src: url(icon.woff) format('woff');
  }