$mobile : 44em;
$tablet : 64em;
$desktop : 80em;

$black : #0f171a;
	$black_light : tint($black, 10%);
$white : #fff;
	$off_white : rgba($black, .1);
$gray : tint($black, 50%);
	$gray_light : mix($gray, $white, 25%);
	$gray_dark : mix($gray, $black_light);
$blue_light : #b4d7fd;

$twitter : #1da1f2;
$facebook : #3c599f;

$colors_full : #4169e1, #3280f3, #3d93ec, #5c9bb3, #91a073, #daa520, #f0a511, #ff991e, #ff7240, #f14a43, #dc143c;
$colors_short : #4169e1, #3d93ec, #91a073, #f0a511, #ff7240, #f14a43;

$radius : .5rem;
$shadow : 0 .25rem 1rem rgba($black, .5);
$transition : .3s;