* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
}

header,
section,
main,
figure,
aside {
  display: block;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font: 100% "Alegreya Sans", sans-serif;
  background: #e7e6dd;
  overflow: hidden;
}

.title,
h2 {
  display: inline-block;
  font-family: bold "Montserrat", sans-serif;
}

h2 {
  font-size: 1em;
}

code {
  display: inline-block;
  font: 400 1em "Source Code Pro";
  -webkit-transform: NaNpx;
  -webkit-transform: translateY(-0.125rem);
  transform: NaNpx;
  transform: translateY(-0.125rem);
  float: right;
}

small {
  display: block;
  font-size: smaller;
  padding: 16px 0 0 72px;
  padding: 1rem 0 0 4.5rem;
}

i {
  font-family: icon;
  font-style: normal;
  vertical-align: baseline;
}

.icon-codepen:after {
  content: "\e806";
}

.icon-left-small:before {
  content: "\e811";
}

/* Header ======================================================================================================== */

header {
  position: relative;
  z-index: 1000;
  background: #0d8a4e;
  color: #f2f2f2;
  white-space: nowrap;
  box-shadow: 0 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.25rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  line-height: 60px;
  line-height: 3.75rem;
  max-height: 60px;
  max-height: 3.75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header h2 {
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
}

.share {
  display: inline-block;
  line-height: 60px;
  line-height: 3.75rem;
  overflow: hidden;
  padding: 0 24px;
  padding: 0 1.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.22s;
  transition: opacity 0.22s;
}

.share > * {
  vertical-align: middle !important;
}

.go .share {
  opacity: 1;
}

/* Header title ================================================================================================= */

.title {
  text-transform: uppercase;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: bold;
  color: #f2f2f2;
  text-decoration: none;
  padding: 0 24px;
  padding: 0 1.5rem;
  -webkit-transition: color 0.22s;
  transition: color 0.22s;
  background: #0f9d58;
  line-height: 60px;
  line-height: 3.75rem;
  box-shadow: 2px 0 rgba(10, 10, 0, 0.05);
  box-shadow: 0.125rem 0 rgba(10, 10, 0, 0.05);
}

.title:hover {
  color: white;
}

.dash {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
}

.dash:before,
.dash:after {
  display: inline-block;
  -webkit-transition: 0.22s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transition: 0.22s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.dash:before {
  content: "Y";
}

.dash:after {
  position: absolute;
  top: -2px;
  top: -.125rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  content: "\2212";
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

header:hover .dash:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

header:hover .dash:after {
  -webkit-transform: none;
  transform: none;
}

/* Main ======================================================================================================== */

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: -webkit-calc(100% + 400px;
  width: -webkit-calc(100% + 25rem);
  width: calc(100% + 400px;
  width: calc(100% + 25rem);
  -webkit-transition: -webkit-transform 0.33s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transition: transform 0.33s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

@media (max-width: 780px) {
  main {
    width: 100%;
  }
}

.slide-left main {
  -webkit-transform: NaNpx;
  -webkit-transform: translateX(-25rem);
  transform: NaNpx;
  transform: translateX(-25rem);
}

@media (max-width: 780px) {
  .slide-left main {
    -webkit-transform: none;
    transform: none;
  }
}

/* Sidebar ======================================================================================================== */

.sidebar {
  position: relative;
  z-index: 100;
  width: 400px;
  width: 25rem;
  list-style: none;
  background: #e7e6dd;
  overflow: hidden;
}

@media (max-width: 780px) {
  .sidebar {
    display: none;
  }
}

.sidebar h1 {
  font-weight: 400;
  color: gray;
  padding: 0 8px;
  padding: 0 .5rem;
}

.sidebar h2 {
  padding-right: 12px;
  padding-right: .75rem;
  text-transform: uppercase;
}

ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 16px;
  padding: 1rem;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Cards =================================================== */

li {
  position: relative;
  background: white;
  padding: 24px;
  padding: 1.5rem;
  margin-bottom: 12px;
  margin-bottom: .75rem;
  border-radius: 2px;
  border-radius: .125rem;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.125rem 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.51, 0.92, 0.24, 1.15), opacity 0.22s, background 0.22s;
  transition: transform 0.22s cubic-bezier(0.51, 0.92, 0.24, 1.15), opacity 0.22s, background 0.22s;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

li:nth-last-of-type {
  -webkit-transition-delay: 0.022s;
  transition-delay: 0.022s;
}

li:nth-last-of-type(2) {
  -webkit-transition-delay: 0.044s;
  transition-delay: 0.044s;
}

li:nth-last-of-type(3) {
  -webkit-transition-delay: 0.066s;
  transition-delay: 0.066s;
}

li:nth-last-of-type(4) {
  -webkit-transition-delay: 0.088s;
  transition-delay: 0.088s;
}

li:nth-last-of-type(5) {
  -webkit-transition-delay: 0.11s;
  transition-delay: 0.11s;
}

li:nth-last-of-type(6) {
  -webkit-transition-delay: 0.132s;
  transition-delay: 0.132s;
}

li:nth-last-of-type(7) {
  -webkit-transition-delay: 0.154s;
  transition-delay: 0.154s;
}

li.special {
  -webkit-transition-delay: 0 !important;
  transition-delay: 0 !important;
}

li:last-of-type {
  margin-bottom: 0;
}

.column {
  display: block;
  overflow: hidden;
}

.column .half,
.column .full {
  padding: 6px 0;
  padding: .375rem 0;
}

.column .half {
  float: left;
  width: 50%;
}

h2 {
  cursor: default;
}

label {
  display: inline-block;
  font-size: 1.4em;
  line-height: .9;
  margin: 0 18px 0 2px;
  margin: 0 1.125rem 0 .125rem;
  vertical-align: middle;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  border-bottom: .125rem solid transparent;
  -webkit-transition: border-bottom-color 0.22s;
  transition: border-bottom-color 0.22s;
}

label:hover {
  border-bottom-color: lightgray;
}

/* Inputs =================================================== */

input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 4px;
  border-radius: .25rem;
  background: #f2f2f2;
  cursor: pointer;
  -webkit-transition: background 0.11s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transition: background 0.11s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

input[type="radio"]:hover + label,
input[type="checkbox"]:hover + label {
  border-bottom-color: lightgray;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 0;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background: #0f9d58;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  border-bottom-color: black;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="text"] {
  background: #f2f2f2;
  display: inline-block;
  width: 192px;
  width: 12rem;
  font: 500 17.6px/1 "Source Code Pro";
  font: 500 1.1rem/1 "Source Code Pro";
  padding: 12px;
  padding: .75rem;
  border-radius: 4px;
  border-radius: .25rem;
  -webkit-transition: 0.22s;
  transition: 0.22s;
  box-shadow: 0 0 0 2px transparent;
  box-shadow: 0 0 0 .125rem transparent;
}

input[type="text"].mini {
  text-align: center;
  width: 64px;
  width: 4rem;
  font-size: 22.4px;
  font-size: 1.4rem;
  padding: 8.8px 12px;
  padding: .55rem .75rem;
}

input[type="text"].small {
  text-align: center;
  width: 96px;
  width: 6rem;
}

input[type="text"]:focus {
  outline: 0;
  /* box-shadow: 0 0 0 .125rem $green; */
  background: #0f9d58;
  background: #f2f2f2;
}

/* Grid 'x' */

.initial {
  font-size: 24px;
  font-size: 1.5rem;
  padding: 0 4px;
  padding: 0 .25rem;
}

.special {
  -webkit-transition: opacity 0.44s 0.22s, max-height 0.22s, -webkit-transform 0.22s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transition: opacity 0.44s 0.22s, max-height 0.22s, transform 0.22s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  overflow: hidden;
  max-height: 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  margin: 0;
  padding: 0;
  box-shadow: 0;
  padding: 0 24px;
  padding: 0 1.5rem;
}

.special .message {
  display: block;
  padding: 24px 0 12px;
  padding: 1.5rem 0 .75rem;
  font-size: 1.1em;
  line-height: 1.2;
}

.special .button {
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.125rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-radius: .25rem;
  cursor: pointer;
  padding: 12px;
  padding: .75rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  -webkit-transition: background 0.22s;
  transition: background 0.22s;
}

.special .button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.special .button:active {
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform: NaNpx;
  -webkit-transform: translateY(0.125rem);
  transform: NaNpx;
  transform: translateY(0.125rem);
  -webkit-transition: 0;
  transition: 0;
}

.custom-alert {
  background: #ffe191;
}

.grid-alert {
  background: tomato;
}

.grid-alert .message:before {
  display: inline-block;
  content: "\e813";
  float: left;
  line-height: 42.2px;
  line-height: 2.64rem;
  font-family: icon;
  font-size: 28.8px;
  font-size: 1.8rem;
  width: 42.2px;
  width: 2.64rem;
}

.grid-overflow .grid-alert,
.customize .custom-alert {
  -webkit-transform: none;
  transform: none;
  max-height: 240px;
  max-height: 15rem;
  opacity: 1;
  margin-bottom: 12px;
  margin-bottom: .75rem;
}

.customize .item {
  cursor: pointer;
}

.customize .item:hover {
  background: #ceccb9;
}

.customize .item.selected {
  background: #ffe191;
}

.customize .item.selected:before {
  color: transparent;
}

.customize .item.selected:after {
  color: black;
}

.customize .item:nth-child(3n).selected {
  background: #ffd668;
}

.customize .item:nth-child(3n+1).selected {
  background: #ffdb7d;
}

.tip {
  position: absolute;
  text-align: right;
  top: 12px;
  top: .75rem;
  right: 12px;
  right: .75rem;
  width: 120px;
  width: 7.5rem;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: 0.22s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transition: 0.22s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  cursor: help;
}

.tip:hover {
  -webkit-transform: none;
  transform: none;
}

/* Output ======================================================================================================== */

.output {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 4px;
  right: .25rem;
  bottom: 0;
  -webkit-transition: 0.44s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transition: 0.44s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  -webkit-transform: NaNpx scale3d(0.3, 0.3, 0.3) translateY(35%);
  -webkit-transform: translateX(-2rem) scale3d(0.3, 0.3, 0.3) translateY(35%);
  transform: NaNpx scale3d(0.3, 0.3, 0.3) translateY(35%);
  transform: translateX(-2rem) scale3d(0.3, 0.3, 0.3) translateY(35%);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.output textarea {
  font: 500 12px "Source code pro";
  background: transparent;
  padding: 24px 24px 48px;
  padding: 1.5rem 1.5rem 3rem;
  -moz-tab-size: 2;
  tab-size: 2;
  resize: none;
  color: #f2f2f2;
  position: absolute;
  width: 100%;
  height: 100%;
}

.output textarea:focus {
  outline: 0;
}

.new-output .output {
  -webkit-animation: new-output 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  animation: new-output 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

@-webkit-keyframes new-output {
  from {
    color: transparent;
  }

  30% {
    -webkit-transform: translateX(-2rem) scale3d(0.3, 0.3, 0.3) translateY(15%);
    transform: translateX(-2rem) scale3d(0.3, 0.3, 0.3) translateY(15%);
    color: transparent;
  }
}

@keyframes new-output {
  from {
    color: transparent;
  }

  30% {
    -webkit-transform: translateX(-2rem) scale3d(0.3, 0.3, 0.3) translateY(15%);
    transform: translateX(-2rem) scale3d(0.3, 0.3, 0.3) translateY(15%);
    color: transparent;
  }
}

/* Edit on Codepen button =================================================== */

.codepen {
  font: 48px 'Montserrat';
  font: 3rem 'Montserrat';
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 50;
  -webkit-transition: background 0.22s, -webkit-transform 0.22s;
  transition: background 0.22s, transform 0.22s;
  cursor: pointer;
  color: #f2f2f2;
}

.codepen-button {
  padding: 48px 16px;
  padding: 3rem 1rem;
}

.codepen-button:after {
  content: "EDIT ON CODPEN";
  -webkit-transition: opacity 0.33s;
  transition: opacity 0.33s;
  opacity: 0;
}

.icon-codepen {
  display: block;
  font-size: 2.5em;
  padding-bottom: .25em;
}

.output:hover {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: 0.33s;
  transition: 0.33s;
}

.output:hover .codepen {
  -webkit-transform: translate3d(0, 12px 0) scale3d(0.25, 0.25, 0.25);
  -webkit-transform: translate3d(0, 0.75rem, 0) scale3d(0.25, 0.25, 0.25);
  transform: translate3d(0, 12px 0) scale3d(0.25, 0.25, 0.25);
  transform: translate3d(0, 0.75rem, 0) scale3d(0.25, 0.25, 0.25);
  background: transparent;
}

.output:hover .codepen-button:after {
  opacity: 1;
}

.output:hover + .cards li {
  -webkit-transform: scale3d(0.25, 0.25, 0.25);
  transform: scale3d(0.25, 0.25, 0.25);
  opacity: 0;
}

.pointer-on .codepen-button:hover {
  color: #ffe191;
  -webkit-transition: 0;
  transition: 0;
}

.pointer-on .codepen-button:hover .icon-codepen {
  color: inherit;
}

/* Tester ======================================================================================================== */

.tester {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 24px;
  padding: 1.5rem;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.125rem 0 rgba(0, 0, 0, 0.15);
}

@media (max-width: 780px) {
  .tester {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.tester figure {
  font-size: 50px;
  width: 8em;
  height: 5em;
  -webkit-perspective: 500;
  perspective: 500;
  color: transparent;
  -webkit-transition: color 0.22s;
  transition: color 0.22s;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

@media (max-width: 780px) {
  .tester figure {
    zoom: 50%;
  }
}

.tester h1 {
  line-height: 1.5;
}

.cssanimations .tester {
  background: white;
}

.small figure {
  font-size: 30px;
}

.misc-numbers figure {
  color: black;
}

/* Tester Item =================================================== */

.item {
  float: left;
  position: relative;
  width: 1em;
  height: 1em;
  -webkit-animation: zoom-out 2s infinite both;
  animation: zoom-out 2s infinite both;
  background: #e7e6dd;
  background-size: cover;
  text-align: center;
}

.item:before,
.item:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  font: 400 .5em/2em "Source Code Pro", monospace;
  pointer-events: none;
  vertical-align: middle;
}

.item:before {
  content: attr(data-nth);
}

.item:after {
  content: attr(data-custom-nth);
}

.item:nth-child(3n) {
  background: #d6d4c5;
}

.item:nth-child(3n+1) {
  background: #dfddd1;
}

.paused .item {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.zoom-out .item {
  -webkit-animation-name: zoom-out;
  animation-name: zoom-out;
}

.vertical-flip .item {
  -webkit-animation-name: vertical-flip;
  animation-name: vertical-flip;
}

.horizontal-flip .item {
  -webkit-animation-name: horizontal-flip;
  animation-name: horizontal-flip;
}

.spin .item {
  -webkit-animation-name: spin;
  animation-name: spin;
}

.opacity .item {
  -webkit-animation-name: opacity;
  animation-name: opacity;
}

.disco .item {
  -webkit-background-blend-mode: multiply;
  -moz-background-blend-mode: multiply;
  background-blend-mode: multiply;
  -webkit-animation-name: disco;
  animation-name: disco;
}

.customize .item {
  -webkit-animation: none;
  animation: none;
}

.misc-pics:not(.customize) .item {
  background-image: url(sprite.jpg);
}

.misc-dots .item {
  border-radius: 50%;
}

.misc-monochrome .item {
  background: #e7e6dd;
}

/* Tester links =================================================== */

.tester-text {
  font-size: 19.2px;
  font-size: 1.2rem;
  position: absolute;
  top: 16px;
  top: 1rem;
  padding: 12px 20px;
  padding: .75rem 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #444;
  cursor: pointer;
  border-radius: 8px;
  border-radius: .5rem;
}

@media (max-width: 780px) {
  .tester-text {
    display: none;
  }
}

.pause {
  left: 12px;
  left: .75rem;
}

.pause:before {
  display: inline-block;
  font-family: icon;
  content: "\e82d";
  width: 1.125em;
  color: rgba(0, 0, 0, 0.5);
}

.pause:after {
  content: "Pause";
}

.paused .pause:before {
  content: "\e82c";
}

.paused .pause:after {
  content: "Play";
}

.sidebar-toggle {
  right: 0;
  padding-left: 20px;
  padding-left: 1.25rem;
  border-radius: 8px 0 0 8px;
  border-radius: .5rem 0 0 .5rem;
}

.sidebar-toggle:after {
  content: "Demo Options";
}

.slide-left .sidebar-toggle:after {
  content: "Close";
}

.slide-left .sidebar-toggle,
.paused .pause,
.tester-text:hover {
  background: #e7e6dd;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.125rem 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: black;
}

.mobile-message {
  display: none;
}

@media (max-width: 780px) {
  .mobile-message {
    display: block;
    position: absolute;
    font-size: 22.4px;
    font-size: 1.4rem;
    line-height: 1.3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px;
    padding: 1.5rem;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0.125rem 0 rgba(0, 0, 0, 0.15);
  }
}

/* Animations =================================================== */

@-webkit-keyframes zoom-out {
  from, to {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }

  45%, 55% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoom-out {
  from, to {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }

  45%, 55% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes horizontal-flip {
  to {
    -webkit-transform: rotate3d(0, 1, 0, 1turn);
    transform: rotate3d(0, 1, 0, 1turn);
  }
}

@keyframes horizontal-flip {
  to {
    -webkit-transform: rotate3d(0, 1, 0, 1turn);
    transform: rotate3d(0, 1, 0, 1turn);
  }
}

@-webkit-keyframes vertical-flip {
  to {
    -webkit-transform: rotate3d(1, 0, 0, 1turn);
    transform: rotate3d(1, 0, 0, 1turn);
  }
}

@keyframes vertical-flip {
  to {
    -webkit-transform: rotate3d(1, 0, 0, 1turn);
    transform: rotate3d(1, 0, 0, 1turn);
  }
}

@-webkit-keyframes spin {
  from, to {
    -webkit-transform: rotate3d(0, 0, 1, 0);
    transform: rotate3d(0, 0, 1, 0);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 1turn);
    transform: rotate3d(0, 0, 1, 1turn);
  }
}

@keyframes spin {
  from, to {
    -webkit-transform: rotate3d(0, 0, 1, 0);
    transform: rotate3d(0, 0, 1, 0);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 1turn);
    transform: rotate3d(0, 0, 1, 1turn);
  }
}

@-webkit-keyframes opacity {
  from, to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  from, to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes disco {
  20% {
    background-color: red;
  }

  40% {
    background-color: gold;
  }

  60% {
    background-color: limegreen;
  }

  80% {
    background-color: dodgerblue;
  }

  to, from {
    background-color: purple;
  }
}

@keyframes disco {
  20% {
    background-color: red;
  }

  40% {
    background-color: gold;
  }

  60% {
    background-color: limegreen;
  }

  80% {
    background-color: dodgerblue;
  }

  to, from {
    background-color: purple;
  }
}

/* Credits =================================================== */

.credits {
  overflow: hidden;
}

.credits p {
  width: 176px;
  width: 11rem;
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1.2;
  padding-top: 16px;
  padding-top: 1rem;
}

.credits p a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.15);
  -webkit-transition: color 0.22s, border-bottom #2b85f5;
  transition: color 0.22s, border-bottom #2b85f5;
}

.credits p a:hover {
  color: #2b85f5;
  border-bottom-color: #2b85f5;
}

/* OOCSS =================================================== */

.block {
  display: block;
  padding-bottom: 12px;
  padding-bottom: .75rem;
}

/* Fonts =================================================== */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans"), local("AlegreyaSans-Regular"), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/KYNzioYhDai7mTMnx_gDgnt9r5m2YmP5sw3cUAQwL0E.woff) format("woff");
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aRSu2h6M8zeGTOAvuRkzdcM.woff) format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format("woff");
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: local("Source Code Pro Medium"), local("SourceCodePro-Medium"), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqbIHYkLmgtPJP77jcqN9P08.woff) format("woff");
}

@font-face {
  font-family: 'Icon';
  font-style: normal;
  font-weight: 500;
  src: url(icon.woff) format("woff");
}