* {
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: none;
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img { border-style: none; }

svg:not(:root) { overflow: hidden; }


// Safari
input::-webkit-contacts-auto-fill-button {
  pointer-events: none;
  opacity: 0;
}