// Charset ===============================================================================
@charset "UTF-8";

// Normalize =============================================================================
@import "../partials/normalize";
@import "../partials/reset";
@import "../partials/extensions";
@import "../partials/functions";
@import "../partials/palette";

// Variables =============================================================================
$tablet: 40em;
$desktop: 60em;

$space-small: 2.5rem;
$space-large: 5rem;

:root {
	--radius: 4px;
	--transition: 0.35s;
	--transition-hover: 0.1s;

	--black: #16161d;
	--black-a: rgba(22, 22, 29, 0.15);
	--gray: #909099;

	--blue: #1e90ff;
	--blue-a: rgb(30, 144, 255, 0.1);
	--blue-dark: #005cb8;
	--blue-light: #52c3fb;
	--purple: #a029de;
	--purple-dark: #5f267d;
	--purple-muted: #a377d2;
	--white: #fff;
	--offwhite: #ccc;

	// Light Mode
	--background: var(--white);
	--text-color: var(--black);
	--text-color-a: var(--gray);
	--link-color: var(--blue);
	--link-color-hover: var(--blue-dark);
	--link-color-visited: var(--purple);
	--link-color-visited-hover: var(--purple-dark);
}

.dark {
	// Dark Mode
	--background: var(--black);
	--text-color: var(--offwhite);
	--link-color: var(--blue);
	--link-color-hover: var(--blue);
	--link-color-visited: var(--purple-muted);
	--link-color-visited-hover: var(--purple-muted);
	--link-color-hover-shadow: 0 0 1em var(--blue);
	--link-color-visited-hover-shadow: 0 0 1em var(--purple-muted);
}

// Structual styles ======================================================================
body {
	font-family: Nunito, sans-serif;
	color: var(--text-color);
	background: var(--background);
	overflow-x: hidden;
}

.header-wrapper {
	max-width: 35em;
	margin: 0 auto;
	text-align: center;

	@media (min-width: $tablet) {
		max-width: 42em;
		margin: 5em auto 0;
	}

	@media (min-width: $desktop) {
		max-width: 50em;
		margin: 5em auto 0;
	}
}

.main-wrapper {
	margin: 4em auto 0;
	max-width: 35em;

	@media (min-width: $tablet) {
		margin: 0 auto;
		max-width: 25em;
		padding: 2.5rem 0;
	}
}

.container {
	position: relative;
	margin: 1.5rem;

	.contact-wrapper & {
		text-align: center;
		margin: 1.5rem auto;
		padding: 0 1.5rem;

		@media (min-width: $tablet) {
			max-width: 42em;
		}

		@media (min-width: $desktop) {
			max-width: 50em;
		}
	}
}

// Typography ============================================================================
h1,
h2 {
	font-weight: 400;
}

h1 {
	font-size: 1.5em;

	@media (min-width: $desktop) {
		font-size: 2em;
	}
}
h2 {
	@extend %no-select;
	text-align: center;
	font-size: 1.25em;
	display: block;

	span {
		display: inline-block;
		border: thin solid var(--text-color-a);
		color: var(--text-color);
		opacity: 0.5;
		padding: 0.5em 1em;
		border-radius: 1em;
	}
}

a {
	text-decoration: none;
	color: var(--text-color);
}

img {
	@extend %no-drag;
	@extend %no-select;
}

// Header ================================================================================
header {
	.container {
		text-align: center;

		@media (min-width: $tablet) {
			display: flex;
			align-items: center;
			text-align: left;
		}
	}

	h1 {
		@media (min-width: $tablet) {
			flex: 1;
			align-items: center;
		}
	}

	br {
		@media (max-width: $tablet) {
			display: none;
		}
	}

	img {
		width: 5em;
		height: 5em;
		border-radius: 50%;
		margin: 0 0 0.5rem 0;

		@media (min-width: $tablet) {
			width: 6.5em;
			height: 6.5em;
			margin: 0 1.5rem 0 0;
		}

		@media (min-width: $desktop) {
			width: 8em;
			height: 8em;
		}
	}
}

// List ==================================================================================
ul {
	@extend %no-select;
	font-size: 1.2em;
}

li {
	position: relative;
	list-style: none;
}

.works,
.projects,
.contacts {
	margin: 1rem 0;
}

.works {
	@media (min-width: $tablet) {
		margin-bottom: 5em;
	}
}

.contact-wrapper {
	padding: 1.5rem 0;
}

.contacts {
	@media (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		border: none;
		margin: 1.5rem 0;
	}
}

.project-link,
.contact-link {
	position: relative;
	cursor: pointer;
	padding: 1.5rem 0;

	.project:nth-child(odd) & {
		flex-direction: row-reverse;
	}

	strong {
		color: var(--link-color);
		transition: color var(--transition);
	}

	&:hover {
		strong {
			color: var(--link-color-hover);
			text-shadow: var(--link-color-hover-shadow);
		}
	}

	&:visited {
		strong {
			color: var(--link-color-visited);
		}

		&:hover {
			strong {
				color: var(--link-color-visited-hover);
				text-shadow: var(--link-color-hover-visited-shadow);
			}
		}
	}

	@media (min-width: $tablet) {
		display: block;
		transition: background-color var(--transition);
		border-radius: var(--radius);
		margin: 1rem 0;
		padding: 1.5rem;

		&:hover {
			background: var(--blue-a);
			transition-duration: var(--transition-hover);
		}
	}
}

.project-link {
	display: flex;
	align-items: center;
}

.contact {
	flex: 1 0 50%;
}

.contact-link {
	display: block;
	padding: 1rem 1.5rem;
}

.copyright-wrapper {
	text-align: center;
	font-size: smaller;
}

// Screenshots ===========================================================================
$space: 5em;

.screenshot {
	min-width: 50%;
	max-width: 50%;
	height: auto;
	margin: 0 1.5rem 0 0;
	transition: transform var(--transition);
	transform: scale(0.9);

	.project:nth-child(odd) & {
		margin: 0 0 0 1.5rem;
	}

	.project-link:hover & {
		transform: scale(1);
		transition-duration: var(--transition-hover);
	}

	img {
		width: 100%;
		height: auto;
		border-radius: var(--radius);
		box-shadow: 0 0.5em 1.5em var(--black-a);
	}

	@media (min-width: $tablet) {
		position: absolute;
		z-index: 10;
		width: 12em;
		height: 9em;

		.project:nth-child(odd) & {
			margin: 0;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			transition: box-shadow var(--transition);

			@at-root .project-link:hover & {
				box-shadow: 0 1em 2em var(--black-a);
			}
		}
	}
}

.line {
	@media (min-width: $tablet) {
		position: absolute;
		content: "";
		width: $space * 2;
		height: 1px;
		background: var(--text-color);
		opacity: 0.15;
		pointer-events: none;
		top: 50%;
		transition: opacity var(--transition);

		.project-link:hover & {
			opacity: 1;
		}
	}
}

// Left side -----------------------------------------------------------------------------
$spread: 1.5em;

.project {
	&:nth-child(odd) {
		.line {
			right: 100%;
			transform-origin: center right;
		}

		.screenshot {
			@media (min-width: $tablet) {
				right: calc(100% + #{$space-small});
			}
			@media (min-width: $desktop) {
				right: calc(100% + #{$space-large});
			}

			img {
				transform: rotate(5deg);
			}
		}
	}

	@media (min-width: $tablet) {
		&:nth-child(1) {
			.line {
				transform: rotate(6deg);
			}
			.screenshot {
				top: -40%;

				img {
					transform: rotate(4deg);
				}
			}
		}
		&:nth-child(3) {
			.line {
				transform: rotate(14deg);
			}
			.screenshot {
				top: -45%;

				img {
					transform: rotate(-2deg);
				}
			}
		}
		&:nth-child(5) {
			.line {
				transform: rotate(-5deg);
			}
			.screenshot {
				top: -35%;

				img {
					transform: rotate(8deg);
				}
			}
		}
		&:nth-child(7) {
			.line {
				transform: rotate(5deg);
			}
			.screenshot {
				top: -20%;

				img {
					transform: rotate(-8deg);
				}
			}
		}
	}
}

// Right side ----------------------------------------------------------------------------
.project {
	&:nth-child(even) {
		.line {
			left: 100%;
			transform-origin: center left;
		}

		.screenshot {
			@media (min-width: $tablet) {
				left: calc(100% + #{$space-small});
			}
			@media (min-width: $desktop) {
				left: calc(100% + #{$space-large});
			}

			img {
				transform: rotate(-5deg);
			}
		}
	}

	@media (min-width: $tablet) {
		&:nth-child(even) {
			.line {
				left: 100%;
				transform-origin: left center;
			}

			.screenshot img {
				transform: rotate(-5deg);
			}
		}

		&:nth-child(2) {
			.line {
				transform: rotate(-25deg);
			}
			.screenshot {
				top: -80%;

				img {
					transform: rotate(-8deg);
				}
			}
		}
		&:nth-child(4) {
			.line {
				transform: rotate(-25deg);
			}
			.screenshot {
				top: -60%;

				img {
					transform: rotate(2deg);
				}
			}
		}
		&:nth-child(6) {
			.line {
				transform: rotate(-18deg);
			}
			.screenshot {
				top: -70%;

				img {
					transform: rotate(8deg);
				}
			}
		}
	}
}

// Jobs -----------------------------------------------------------------------------
.job-wrapper {
	max-width: 33em;
	margin: 2em auto 0;

	@media (min-width: $tablet) {
		text-align: center;
		margin: 3em auto 0;
	}
}
.job {
	@media (min-width: $tablet) {
		display: flex;
		align-items: center;
	}

	padding: 1.5rem;
	background: tint(gold, 50%);
	line-height: 1.4;

	time {
		white-space: nowrap;
	}

	p {
		text-align: left;

		@media (min-width: $tablet) {
			padding-left: 1rem;
		}
	}

	a {
		text-decoration: underline;
	}
}
time {
	font-weight: bold;
}
