doctype html
html lang="en"
	head
		/ Essentials
		meta charset="utf-8"
		meta http-equiv="x-ua-compatible" content="ie=edge"
		meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/ The Title
		title CSS Tweeting
		/ Android
		meta name="theme-color" content="#aaaaaa"
		meta name="application-name" content="CSS Tweeting"
		meta name="description" content="See your own creature appear here by tweeting to @csstweeting!"
		meta name="rating" content="General"
		meta name="mobile-web-app-capable" content="yes"
		/ Manifest
		link rel="manifest" href="manifest.json"
		link rel="license" href="license.txt"
		/ Facebook
		meta property="article:author" content="Bennett Feely"
		meta property="og:description" content="See your own creature appear here by tweeting to @csstweeting!"
		meta property="og:image" content="img/csstweeting.png"
		meta property="og:locale" content="en_US"
		meta property="og:site_name" content="CSS Tweeting"
		meta property="og:title" content="CSS Tweeting"
		meta property="og:type" content="website"
		/ Twitter
		meta name="twitter:card" content="summary"
		meta name="twitter:creator" content="@bennettfeely"
		meta name="twitter:description" content="See your own creature appear here by tweeting to @csstweeting!"
		meta name="twitter:image" content="img/csstweeting.png"
		meta name="twitter:site" content="@csstweeting"
		meta name="twitter:title" content="CSS Tweeting"
		meta name="twitter:url" content="https://bennettfeely.com/csstweeting"
		/ Favicons
		link href="img/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"
		link href="img/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32"
		link href="img/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16"
		/ Styles
		link href="css/style.min.css" rel="stylesheet"
		meta name="renderer" content="webkit"
	body
		main
			header
				.container
					h1 CSS Tweeting
			iframe.window src="/live.html"
			section
				.stylesheet
					.container
						p Loading...
			footer
				.container
					p &copy;2020 Bennett Feely
		script src="js/prism.min.js"
		script src="js/sanitize.js"
		script src="js/tweeting.js"
		script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-35724550-1"
		script
			| window.dataLayer = window.dataLayer || [];
			| function gtag(){dataLayer.push(arguments)};
			| gtag('js', new Date());
			| gtag('config', 'UA-35724550-1');