// Partials ==========================================================================
@import "functions";
@import "extensions";
@import "reset";
@import "colors";

// Variables =========================================================================
$mobile: 30em;
$tablet: 50em;
$easing: ease-in-out;

$mobile: 36em;
$tablet: 52em;
$desktop: 80em;

$transition: 0.18s;
$radius: 4px;

$background: #1d1f21;
$current_line: #282a2e;
$selection: #373b41;
$foreground: #c5c8c6;
$comment: shade(#969896, 25%);
$red: #cc6666;
$orange: #de935f;
$yellow: #f0c674;
$green: #b5bd68;
$aqua: #8abeb7;
$blue: #81a2be;
$purple: #b294bb;

// Base Styles =======================================================================
* {
	font: 100%/1.4 Monaco, monospace;
}

body {
	min-height: 100vh;
	color: $comment;
	background: $background;
	min-height: 100vh;
}

a {
	color: currentColor;
	text-decoration: none;
	transition: color $transition;

	&:hover {
		text-decoration: underline;
	}
}

.container {
	padding: 1em;
}

main {
	@media (min-width: $tablet) {
		max-width: $tablet * 0.5;
	}
}

.window {
	width: calc(100% - 2em);
	min-height: 50vh;
	background: #fff;

	@media (min-width: $tablet) {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		min-height: initial;
		width: calc(100vw - #{$tablet * 0.5});
		left: calc(#{$tablet * 0.5});
		flex: 1;
		vertical-align: top;
	}
}

.stylesheet {
	font-size: 1em;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
	color: $foreground;
	border-radius: $radius;
	overflow: hidden;
	background: shade($background, 50%);
}

.tweet {
	margin-bottom: 1.5em;

	&:last-child {
		margin: 0;
	}

	&:hover a {
		color: $blue;
	}
}

.tweet-text {
	margin-top: 1em;
}

// Syntax highlighting =================================================
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $comment;
}

.token.punctuation {
	color: $foreground;
}

.token.namespace {
	color: $foreground;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: $yellow;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $red;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: $green;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: $purple;
}

.token.regex,
.token.important {
	color: $red;
}
