!!! 5
%html
  %head
    / Charset
    %meta{ charset: "utf-8" }
    / IE metadata
    %meta{ http-equiv: "x-ua-compatible", content: "ie=edge" }
    %meta{ http-equiv: "cleartype", content: "on" }
    %meta{ name: "msapplication-tap-highlight", content: "no" }
    %meta{ name: "application-name", content: "Image Effects with CSS" }
    / Browser metadata
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %meta{ name: "google", content: "notranslate" }
    %meta{ name: "description", content: "A collection of CSS snippets to create fast, complex image effects for websites" }
    %meta{ name: "renderer", content: "webkit|ie-comp|ie-stand" }
    %meta{ name: "x5-orientation", content: "landscape/portrait" }
    / The page title
    %title Image Effects with CSS
    / Stylesheets
    %link{ href: "https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,500", rel: "stylesheet" }
    %link{ href: "css/style.min.css", rel: "stylesheet" }
    / Favicons/Icons
    %link{ rel: "apple-touch-icon", href: "img/apple-touch-icon.png", sizes: "180x180", }
    %link{ rel: "icon", type: "image/png", href: "img/favicon-32x32.png", sizes: "32x32" }
    %link{ rel: "icon", type: "image/png", href: "img/favicon-16x16.png", sizes: "16x16" }
    %link{ rel: "mask-icon", href: "img/safari-pinned-tab.svg", color: "#3960ab" }
    / IE/Android/iOS meta
    %meta{ name: "apple-mobile-web-app-title", content: "Image Effects with CSS" }
    %meta{ name: "application-name", content: "Image Effects with CSS" }
    %meta{ name: "theme-color", content: "#d3d0c9" }
    %meta{ name: "msapplication-TileColor", content: "#1d1f21" }
    / Twitter meta
    %meta{ name: "twitter:card", content: "summary" }
    %meta{ name: "twitter:creator", content: "@bennettfeely" }
    %meta{ name: "twitter:title", content: "Image Effects with CSS" }
    %meta{ name: "twitter:description", content: "A collection of CSS snippets to create fast, complex image effects for websites" }
    %meta{ name: "twitter:image", content: "http://bennettfeely.com/image-effects/img/preview_2x2.jpg" }
    / Facebook meta
    %meta{ property: "og:url", content: "http://bennettfeely.com/image-effects" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Image Effects with CSS" }
    %meta{ property: "og:image", content: "http://bennettfeely.com/image-effects/img/preview_4x2.jpg" }
    %meta{ property: "og:description", content: "A collection of CSS snippets to create fast, complex image effects for websites" }
    %meta{ property: "og:site_name", content: "Image Effects with CSS" }
    %meta{ property: "og:locale", content: "en_US" }

  %body{ onload: "layout()" }
    / CodePen icon
    %svg{ xmlns: "http://www.w3.org/2000/svg", width: "32", height: "32", aria-hidden: "true", style: "display: none" }
      %symbol{ id: "codepen-icon", viewBox: "20 20 80 80" }
        %path{ fill: "currentColor", class: "inner-box", d: "M97.147 48.319c-0.007-0.047-0.019-0.092-0.026-0.139c-0.016-0.09-0.032-0.18-0.056-0.268 c-0.014-0.053-0.033-0.104-0.05-0.154c-0.025-0.078-0.051-0.156-0.082-0.232c-0.021-0.053-0.047-0.105-0.071-0.156 c-0.033-0.072-0.068-0.143-0.108-0.211c-0.029-0.051-0.061-0.1-0.091-0.148c-0.043-0.066-0.087-0.131-0.135-0.193 c-0.035-0.047-0.072-0.094-0.109-0.139c-0.051-0.059-0.104-0.117-0.159-0.172c-0.042-0.043-0.083-0.086-0.127-0.125 c-0.059-0.053-0.119-0.104-0.181-0.152c-0.048-0.037-0.095-0.074-0.145-0.109c-0.019-0.012-0.035-0.027-0.053-0.039L61.817 23.5 c-1.072-0.715-2.468-0.715-3.54 0L24.34 46.081c-0.018 0.012-0.034 0.027-0.053 0.039c-0.05 0.035-0.097 0.072-0.144 0.1 c-0.062 0.049-0.123 0.1-0.181 0.152c-0.045 0.039-0.086 0.082-0.128 0.125c-0.056 0.055-0.108 0.113-0.158 0.2 c-0.038 0.045-0.075 0.092-0.11 0.139c-0.047 0.062-0.092 0.127-0.134 0.193c-0.032 0.049-0.062 0.098-0.092 0.1 c-0.039 0.068-0.074 0.139-0.108 0.211c-0.024 0.051-0.05 0.104-0.071 0.156c-0.031 0.076-0.057 0.154-0.082 0.2 c-0.017 0.051-0.035 0.102-0.05 0.154c-0.023 0.088-0.039 0.178-0.056 0.268c-0.008 0.047-0.02 0.092-0.025 0.1 c-0.019 0.137-0.029 0.275-0.029 0.416V71.36c0 0.1 0 0.3 0 0.418c0.006 0 0 0.1 0 0.1 c0.017 0.1 0 0.2 0.1 0.268c0.015 0.1 0 0.1 0.1 0.154c0.025 0.1 0.1 0.2 0.1 0.2 c0.021 0.1 0 0.1 0.1 0.154c0.034 0.1 0.1 0.1 0.1 0.213c0.029 0 0.1 0.1 0.1 0.1 c0.042 0.1 0.1 0.1 0.1 0.193c0.035 0 0.1 0.1 0.1 0.139c0.05 0.1 0.1 0.1 0.2 0.2 c0.042 0 0.1 0.1 0.1 0.125c0.058 0.1 0.1 0.1 0.2 0.152c0.047 0 0.1 0.1 0.1 0.1 c0.019 0 0 0 0.1 0.039L58.277 96.64c0.536 0.4 1.2 0.5 1.8 0.537c0.616 0 1.233-0.18 1.77-0.537 l33.938-22.625c0.018-0.012 0.034-0.027 0.053-0.039c0.05-0.035 0.097-0.072 0.145-0.109c0.062-0.049 0.122-0.1 0.181-0.152 c0.044-0.039 0.085-0.082 0.127-0.125c0.056-0.055 0.108-0.113 0.159-0.172c0.037-0.045 0.074-0.09 0.109-0.139 c0.048-0.062 0.092-0.127 0.135-0.193c0.03-0.049 0.062-0.098 0.091-0.146c0.04-0.07 0.075-0.141 0.108-0.213 c0.024-0.051 0.05-0.102 0.071-0.154c0.031-0.078 0.057-0.156 0.082-0.234c0.017-0.051 0.036-0.102 0.05-0.154 c0.023-0.088 0.04-0.178 0.056-0.268c0.008-0.045 0.02-0.092 0.026-0.137c0.018-0.139 0.028-0.277 0.028-0.418V48.735 C97.176 48.6 97.2 48.5 97.1 48.319z M63.238 32.073l25.001 16.666L77.072 56.21l-13.834-9.254V32.073z M56.856 32.1 v14.883L43.023 56.21l-11.168-7.471L56.856 32.073z M29.301 54.708l7.983 5.34l-7.983 5.34V54.708z M56.856 88.022L31.855 71.4 l11.168-7.469l13.833 9.252V88.022z M60.048 67.597l-11.286-7.549l11.286-7.549l11.285 7.549L60.048 67.597z M63.238 88.022V73.14 l13.834-9.252l11.167 7.469L63.238 88.022z M90.794 65.388l-7.982-5.34l7.982-5.34V65.388z" }
    / Twitter icon
    %svg{ xmlns: "http://www.w3.org/2000/svg", width: "32", height: "32", aria-hidden: "true", style: "display: none" }
      %symbol{ id: "twitter-icon", viewBox: "0 0 24 24" }
        %path{ fill: "currentColor", d: "M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" }
    / Facebook icon
    %svg{ xmlns: "http://www.w3.org/2000/svg", width: "32", height: "32", aria-hidden: "true", style: "display: none" }
      %symbol{ id: "facebook-icon", viewBox: "0 0 60.734 60.733" }
        %path{ fill: "currentColor", d: "M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914 v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462 v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" }
    / Copy icon
    %svg{ xmlns:"http://www.w3.org/2000/svg", aria-hidden: "true", style: "display: none" }
      %symbol{ id: "copy-icon", viewBox: "0 0 24 24" }
        %path{ fill: "currentColor", d: "M18 6v-6h-18v18h6v6h18v-18h-6zm-12 10h-4v-14h14v4h-10v10zm16 6h-14v-14h14v14z" }

    %section.grid
      .grid-sizer
      %header.grid-item
        .container
          %h1 Image Effects with CSS
          %h2 Bennett Feely
            %a{ href: "http://twitter.com/bennettfeely" } Twitter
            %a{ href: "http://codepen.io/bennettfeely/" } CodePen
          %hr
          %h2 How it works
          %p Using one or more newer CSS properties (<code>background-blend-mode</code>, <code>mix-blend-mode</code>, or <code>filter</code>) gives us a surprising amount of possibilities to manipulate a single source image.
          %p
            %figure.example
              %a{ href: "css/photo.jpg", target: "_blank" }
                %img{ src: "css/photo.jpg", width: "120", height: "90", alt: "Image of lighthouse used for CSS image effects demo" }
              %figcaption The unedited background-image manipulated using CSS.
          %p{ data-label: "Blending" } In most of these effects the single source background-image url is repeated one or more times and blended with itself using CSS blend modes (<code>multiply</code>, <code>overlay</code>, <code>screen</code>, <code>difference</code>, etc.)
          %p{ data-label: "Filtering" } In some of these effects, the CSS <code>filter</code> property is used to further refine the output. Functions like <code>grayscale()</code>, <code>brightness()</code>, and <code>contrast()</code> can and should be tweaked to achieve a better result for images you use.
          %p{ data-label: "Implementation" } Click on CodePen buttons to see how effects are implemented, or scroll down to the <a href="#implementation">Implementation section</a>.
          %p{ data-label: "Be smart" } These effects should be used as a progressive enhancement.
          %p{ data-label: "Fallback" } By default, the source image is displayed without any effects. When CSS <code>@supports</code> detects support for the required CSS properties and values for an individual effect, then the effect will be enabled. This amounts to a precise, native, and lightweight feature detection.
          %p{ data-label: "Download" } A complete CSS library of these effects can be downloaded <a href="css/all.css">unminified (12.8kb)</a> or <a href="css/all.min.css">minified (8.7kb)</a>. Using <a href="https://css-tricks.com/snippets/htaccess/active-gzip-compression/">gzip</a>, the entire image effects library is less than 1300 bytes.
          %p This project is available <a href="https://github.com/bennettfeely/image-effects">on GitHub</a>.
      %article.grid-item#pencil
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Pencil", href: "#pencil" }
          .preview.pencil-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              %li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#pencil_css
              %code.language-css.container / inject: partials/pencil.css
            %pre.scss#pencil_scss
              %code.language-scss.container / inject: partials/pencil.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#pencil_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %section.grid-item.share-box
        .container
          %h3 Share this page with others!
          %hr
          .share
            %a{ class: "share-button twitter", href: "http://twitter.com/share?text=CSS%20Image%20Effects%3A%20A%20collection%20of%20CSS%20snippets%20to%20create%20fast%2C%20complex%20image%20effects%20for%20websites&url=http://bennettfeely.com%2Fimage-effects" }
              %svg{ class: "icon" }
                %use{ xlink:href: "#twitter-icon" }
              Tweet
            .shares#twitter_shares 412
          .share
            %a{ class: "share-button twitter facebook", href: "http://www.facebook.com/sharer.php?u=http%3A%2F%2Fbennettfeely.com%2Fimage-effects" }
              %svg{ class: "icon" }
                %use{ xlink:href: "#facebook-icon" }
              Share
            .shares#facebook_shares 339
      %section.grid-item.ad-box
        %figure.box
          .container
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bennettfeelycom" id="_carbonads_js"></script>
      %article.grid-item#watercolor
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Watercolor", href: "#watercolor" }
          .preview.watercolor-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support one or more of the following properties:
            %ul.support
              %li.filter filter
              /%li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              %li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#watercolor_css
              %code.language-css.container / inject: partials/watercolor.css
            %pre.scss#watercolor_scss
              %code.language-scss.container / inject: partials/watercolor.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#watercolor_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#emboss
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Emboss", href: "#emboss" }
          .preview.emboss-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              %li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#emboss_css
              %code.language-css.container / inject: partials/emboss.css
            %pre.scss#emboss_scss
              %code.language-scss.container / inject: partials/emboss.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#emboss_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#colored-pencil
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Colored Pencil", href: "#colored-pencil" }
          .preview.colored-pencil-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              %li.filter filter
              /%li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              %li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#colored-pencil_css
              %code.language-css.container / inject: partials/colored-pencil.css
            %pre.scss#colored-pencil_scss
              %code.language-scss.container / inject: partials/colored-pencil.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#colored-pencil_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#chalkboard
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Chalkboard", href: "#chalkboard" }
          .preview.chalkboard-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              %li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#chalkboard_css
              %code.language-css.container / inject: partials/chalkboard.css
            %pre.scss#chalkboard_scss
              %code.language-scss.container / inject: partials/chalkboard.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#chalkboard_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#colored-chalkboard
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Colored Chalkboard", href: "#colored-chalkboard" }
          .preview.colored-chalkboard-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              %li.filter filter
              /%li.background-blend-mode background-blend-mode
              %li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#colored-chalkboard_css
              %code.language-css.container / inject: partials/colored-chalkboard.css
            %pre.scss#colored-chalkboard_scss
              %code.language-scss.container / inject: partials/colored-chalkboard.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#colored-chalkboard_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %section.grid-item.implementation-box#implementation
        .container
          %h2 Implementation
          %hr
          %p In each of these CSS/SCSS snippets, replace <code>photo.jpg</code> with the URL of the image you are using.
          %h3 Example HTML
          %pre.output
            %code.container
              <span class="tag">&lt;div</span> <span class="attribute">class=</span>"emboss-effect"<span class="tag">&gt;<br>&nbsp;&nbsp;&lt;img</span> <span class="attribute">width=</span>"" <span class="attribute">height=</span>"" <span class="attribute">src=</span>"photo.jpg" <span class="attribute">alt=</span>""<span class="tag">&gt;</span><br><span class="tag">&lt;/div&gt;</span>
          %p In this implementation, the <code>&lt;img&gt;</code> tag acts as a placeholder, setting the correct aspect ratio for the effect while being visually hidden with CSS. Setting values for the <code>width</code>, <code>height</code>, and <code>alt</code> attributes is recommended.
          %p To try out any effect for yourself, click on the CodePen button.
      %article.grid-item#airbrush
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Airbrush", href: "#airbrush" }
          .preview.airbrush-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              %li.filter filter
              /%li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              %li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#airbrush_css
              %code.language-css.container / inject: partials/airbrush.css
            %pre.scss#airbrush_scss
              %code.language-scss.container / inject: partials/airbrush.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#airbrush_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#hallucination
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Hallucination", href: "#hallucination" }
          .preview.hallucination-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              /%li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              %li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#hallucination_css
              %code.language-css.container / inject: partials/hallucination.css
            %pre.scss#hallucination_scss
              %code.language-scss.container / inject: partials/hallucination.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#hallucination_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#flannel
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Flannel", href: "#flannel" }
          .preview.flannel-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              /%li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#flannel_css
              %code.language-css.container / inject: partials/flannel.css
            %pre.scss#flannel_scss
              %code.language-scss.container / inject: partials/flannel.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#flannel_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#low-ink-x
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Low Ink (horizontal)", href: "#low-ink-x" }
          .preview.low-ink-x-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              /%li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#low-ink-x_css
              %code.language-css.container / inject: partials/low-ink-x.css
            %pre.scss#low-ink-x_scss
              %code.language-scss.container / inject: partials/low-ink-x.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#low-ink-x_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#low-ink-y
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Low Ink (vertical)", href: "#low-ink-y" }
          .preview.low-ink-y-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              /%li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#low-ink-y_css
              %code.language-css.container / inject: partials/low-ink-y.css
            %pre.scss#low-ink-y_scss
              %code.language-scss.container / inject: partials/low-ink-y.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#low-ink-y_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %section.grid-item.follow-box
        .container
          %h3 Do you follow me on Twitter?
          %hr
          %a{ class: "share-button twitter", href: "https://twitter.com/bennettfeely" }
            %svg{ class: "icon" }
              %use{ xlink:href: "#twitter-icon" }
            @bennettfeely
          .shares 3800 followers
      %article.grid-item#collage
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Collage", href: "#collage" }
          .preview.collage-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              /%li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#collage_css
              %code.language-css.container / inject: partials/collage.css
            %pre.scss#collage_scss
              %code.language-scss.container / inject: partials/collage.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#collage_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#mosaic
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Mosaic", href: "#mosaic" }
          .preview.mosaic-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              /%li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#mosaic_css
              %code.language-css.container / inject: partials/mosaic.css
            %pre.scss#mosaic_scss
              %code.language-scss.container / inject: partials/mosaic.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#mosaic_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#photo-border
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Photo Border", href: "#photo-border" }
          .preview.photo-border-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          %figcaption.output.showing-scss
            %pre.css#photo-border_css
              %code.language-css.container / inject: partials/photo-border.css
            %pre.scss#photo-border_scss
              %code.language-scss.container / inject: partials/photo-border.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#photo-border_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#infrared
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Infrared", href: "#infrared" }
              %a{ href: "http://una.im/infrared/#💁", class: "created-by" } Una Kravets
          .preview.infrared-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              %li.filter filter
              /%li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#infrared_css
              %code.language-css.container / inject: partials/infrared.css
            %pre.scss#infrared_scss
              %code.language-scss.container / inject: partials/infrared.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#infrared_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#night-vision
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Night Vision", href: "#night-vision" }
          .preview.night-vision-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          / .warning
          /   \/** Your browser does not yet support the following properties necessary for this image effect:
          /   %ul.support
          /     /%li.filter filter
          /     %li.background-blend-mode background-blend-mode
          /     /%li.background-blend-mode-color background-blend-mode: color;
          /     /%li.mix-blend-mode mix-blend-mode
          /     /%li.mix-blend-mode-color mix-blend-mode: color;
          /     /%li.transform transform
          /   Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#night-vision_css
              %code.language-css.container / inject: partials/night-vision.css
            %pre.scss#night-vision_scss
              %code.language-scss.container / inject: partials/night-vision.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#night-vision_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#warhol
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Warhol", href: "#warhol" }
          .preview.warhol-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              /%li.filter filter
              /%li.background-blend-mode background-blend-mode
              %li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#warhol_css
              %code.language-css.container / inject: partials/warhol.css
            %pre.scss#warhol_scss
              %code.language-scss.container / inject: partials/warhol.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#warhol_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#selective-color
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Selective color", href: "#selective-color" }
          .preview.selective-color-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              %li.filter filter
              %li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              %li.mix-blend-mode-color mix-blend-mode: color;
              /%li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#selective-color_css
              %code.language-css.container / inject: partials/selective-color.css
            %pre.scss#selective-color_scss
              %code.language-scss.container / inject: partials/selective-color.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#selective-color_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#mirror-x
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Mirror (horizontal)", href: "#mirror-x" }
          .preview.mirror-x-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              %li.filter filter
              %li.background-blend-mode background-blend-mode
              %li.background-blend-mode-color background-blend-mode: color;
              %li.mix-blend-mode mix-blend-mode
              %li.mix-blend-mode-color mix-blend-mode: color;
              li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#mirror-x_css
              %code.language-css.container / inject: partials/mirror-x.css
            %pre.scss#mirror-x_scss
              %code.language-scss.container / inject: partials/mirror-x.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#mirror-x_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %article.grid-item#mirror-y
        %figure.box
          .title.container
            %h2
              %a{ data-name: "Mirror (vertical)", href: "#mirror-y" }
          .preview.mirror-y-effect
            %img{ src: "css/photo.jpg", alt: "Image of lighthouse" }
          .warning
            \/** Your browser does not yet support the following properties necessary for this image effect:
            %ul.support
              /%li.filter filter
              /%li.background-blend-mode background-blend-mode
              /%li.background-blend-mode-color background-blend-mode: color;
              /%li.mix-blend-mode mix-blend-mode
              /%li.mix-blend-mode-color mix-blend-mode: color;
              %li.transform transform
            Browser support is tested with CSS @supports. Image effects will fallback in browsers that do not support necessary CSS features. **/
          %figcaption.output.showing-scss
            %pre.css#mirror-y_css
              %code.language-css.container / inject: partials/mirror-y.css
            %pre.scss#mirror-y_scss
              %code.language-scss.container / inject: partials/mirror-y.scss
            %menu.options.expanded
              %a.toggle.css-toggle CSS
              %a.toggle.scss-toggle.on SCSS
              %a.open-in-codepen
                %svg{ class: "icon" }
                  %use{ xlink:href: "#codepen-icon" }
                CodePen
              %a.copy{ data-clipboard-target: "#mirror-y_scss" }
                %svg{ class: "icon" }
                  %use{ xlink:href: "#copy-icon" }
                Copy
      %footer.grid-item
        .container
          %h1 More CSS fun...
          %ul
            %hr
            %li
              %h3
                %a{ href: "https://una.im/CSSgram/" }
                  %span CSSgram: Instagram filters recreated with CSS filters and blend modes <cite>by Una Kravets</cite>
            %hr
            %li
              %h3
                %a{ href: "https://css-tricks.com/basics-css-blend-modes/" }
                  %span Basics of CSS Blend Modes <cite>by Chris Coyier</cite>
            %hr
            %li
              %h3
                %a{ href: "http://una.im/vintage-washout/#💁" }
                  %span \<cite>Una Kravets'</cite> 6-part CSS image effects series
            %hr
            %li
              %h3
                %a{ href: "http://alistapart.com/article/blending-modes-demystified" }
                  %span Blending Modes Demystified <cite>by Justin McDowell</cite>
            %hr
            %li
              %h3
                %a{ href: "http://lea.verou.me/css3patterns/" }
                  %span CSS3 Patterns Gallery <cite>by Lea Verou</cite>
            %hr
            %li
              %h3
                %a{ href: "http://bennettfeely.com/gradients/" }
                  %span New CSS gradient possibilities with the background-blend-mode property <cite>by Bennett Feely</cite>
            %hr
            %li
              %h3
                %a{ href: "http://bennettfeely.com/filters" }
                  %span CSS Filters Playground <cite>by Bennett Feely</cite> (2013)
            %hr
            %li
              %h3
                %a{ href: "https://medium.com/@bennettfeely/css-blend-modes-could-be-the-next-big-thing-in-web-design-6b51bf53743a#.gwfmepwa0" }
                  %span CSS Blend Modes could be the next big thing in Web Design <cite>by Bennett Feely</cite> (2013)
            %hr
            %small &copy;2016 Bennett Feely
      %section.grid-item.suggestion-box
        .container
          %h3 Add your image effect on this page
          %hr
          %p
            <a href="http://twitter.com/bennettfeely">Tweet</a> or <a href="mailto:bfeelyweb@gmail.com?Subject=Image%20effect%20suggestion">email</a> a link to your CSS image effect demo. If it's neat and unique I'll be happy to add it to this page with your name and a link to your website.
    / Scripts
    %script{ src: "js/masonry.min.js" }
    %script{ src: "js/prism.min.js" }
    %script{ src: "js/clipboard.min.js" }
    %script{ src: "js/sketch.js" }
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-35724550-1', 'auto');
      ga('send', 'pageview');
    / Optimize if scripts are disabled for some stupid reason
    %noscript
      %style
        \.preview img { display: none; }
        \.css, \.scss { display: block; }
        \.scss { border-top: 10px solid white; }
        \.options { display: none; }
        \.grid-item {
          width: 100% !important;
          max-width: 600px;
          margin-left: auto;
          margin-right: auto;
        }