doctype html
html lang="en"
	head
		/ Essentials
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
		title USA.css
		meta name="description" content="The American CSS stylesheet. Style your webpage with the stars and stripes as CSS backgrounds. All units are set in inches."
		/ Icons
		link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png"
		link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png"
		link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png"
		link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5"
		meta name="msapplication-TileColor" content="#2b5797"
		meta name="theme-color" content="#ffffff"
		/ Styles
		link href="style.min.css" rel="stylesheet"
		link href="usa.min.css" rel="stylesheet"
		/ Fonts
		link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"
	body
		#fb-root
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=247433128675302" nonce="Gy2FThBp"></script>
		.usa-radial.banner
		header
			.wrapper
				.container
					h1 USA.css
					h2 The most American CSS stylesheet. Style your webpage with the stars and stripes as CSS backgrounds. Units are set in inches.
					.downloads
						a.button.primary href="usa.min.css" 
							span.download Download usa.min.css
							|  (1776 bytes)
						a.button href="src/usa.css" 
							span.download Download usa.css
					.shares
						a.twitter-share-button.share href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-size="large" data-text="USA.css – The most American CSS stylesheet. All units in inches, only 1776 bytes" data-dnt="true" data-show-count="true" Tweet
						<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
						.fb-like.facebook-share-button.share data-href="https://bennettfeely.com/usacss" data-width="100" data-layout="button_count" data-action="like" data-size="large" data-share="true"
		main
			.wrapper
				.container
					figure.pattern 
						.pattern-block.usa-stars
						figcaption.pattern-meta 
							code.pattern-snippet
								| <span class="class">.usa-stars</span> {
								button.pattern-show-css data-show=".usa-stars-css" Show CSS
								| }
							pre.pattern-css
								code
									div <span class="class">.usa-stars</span> {
									div 	<span class="property">background:</span> <span class="function">linear-gradient</span>(<span class="unit">324deg</span>, <span class="color">#3c3b6e</span> <span class="unit">4%</span>, <span class="color">transparent</span> <span class="unit">4%</span>) <span class="unit">-0.7in 0.43in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">36deg</span>, <span class="color">#3c3b6e</span> <span class="unit">4%</span>, <span class="color">transparent</span> <span class="unit">4%</span>) <span class="unit">0.3in 0.43in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">72deg</span>, <span class="color">#fff</span> <span class="unit">8.5%</span>, <span class="color">transparent</span> <span class="unit">8.5%</span>) <span class="unit">0.3in 0.43in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">288deg</span>, <span class="color">#fff</span> <span class="unit">8.5%</span>, <span class="color">transparent</span> <span class="unit">8.5%</span>) <span class="unit">-0.7in 0.43in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">216deg</span>, <span class="color">#fff</span> <span class="unit">7.5%</span>, <span class="color">transparent</span> <span class="unit">7.5%</span>) <span class="unit">-0.7in 0.23in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">144deg</span>, <span class="color">#fff</span> <span class="unit">7.5%</span>, <span class="color">transparent</span> <span class="unit">7.5%</span>) <span class="unit">0.3in 0.23in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">324deg</span>, <span class="color">#3c3b6e</span> <span class="unit">4%</span>, <span class="color">transparent</span> <span class="unit">4%</span>) <span class="unit">-0.2in 0.93in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">36deg</span>, <span class="color">#3c3b6e</span> <span class="unit">4%</span>, <span class="color">transparent</span> <span class="unit">4%</span>) <span class="unit">0.8in 0.93in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">72deg</span>, <span class="color">#fff</span> <span class="unit">8.5%</span>, <span class="color">transparent</span> <span class="unit">8.5%</span>) <span class="unit">0.8in 0.93in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">288deg</span>, <span class="color">#fff</span> <span class="unit">8.5%</span>, <span class="color">transparent</span> <span class="unit">8.5%</span>) <span class="unit">-0.2in 0.93in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">216deg</span>, <span class="color">#fff</span> <span class="unit">7.5%</span>, <span class="color">transparent</span> <span class="unit">7.5%</span>) <span class="unit">-0.2in 0.73in</span>,
									div 		<span class="function">linear-gradient</span>(<span class="unit">144deg</span>, <span class="color">#fff</span> <span class="unit">7.5%</span>, <span class="color">transparent</span> <span class="unit">7.5%</span>) <span class="unit">0.8in 0.73in</span>,
									div 		<span class="color">#3c3b6e</span>;
									div 	<span class="property">background-size:</span> <span class="unit">1in 1in</span>;
									div }
					figure.pattern
						.pattern-block.usa-stripes-horizontal
						figcaption.pattern-meta 
							code.pattern-snippet 
								| <span class="class">.usa-stripes-horizontal</span> {
								button.pattern-show-css Show CSS
								| }
							pre.pattern-css
								code
									div <span class="class">.usa-stripes-horizontal</span> {
									div 	<span class="property">background:</span> <span class="function">repeating-linear-gradient</span>(
									div 		<span class="color">#b22234</span> <span class="unit">0</span>,
									div 		<span class="color">#b22234</span> <span class="unit">0.2in</span>,
									div 		<span class="color">#fff</span> <span class="unit">0.2in</span>,
									div 		<span class="color">#fff</span> <span class="unit">0.4in</span>
									div 	);
									div }
					figure.pattern
						.pattern-block.usa-stripes-vertical
						figcaption.pattern-meta 
							code.pattern-snippet 
								| <span class="class">.usa-stripes-vertical</span> {
								button.pattern-show-css Show CSS
								| }
							pre.pattern-css
								code
									div <span class="class">.usa-stripes-vertical</span> {
									div		<span class="property">background:</span> <span class="function">repeating-linear-gradient</span>(
									div			<span class="unit">90deg</span>,
									div			<span class="color">#b22234</span> <span class="unit">0</span>,
									div			<span class="color">#b22234</span> <span class="unit">0.2in</span>,
									div			<span class="color">#fff</span> <span class="unit">0.2in</span>,
									div			<span class="color">#fff</span> <span class="unit">0.4in</span>
									div		);
									div }
					.ad
						script async="async" type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIL27N&placement=bennettfeelycom" id="_carbonads_js"
					figure.pattern
						.pattern-block.usa-diamond
						figcaption.pattern-meta 
							code.pattern-snippet 
								| <span class="class">.usa-diamond</span> {
								button.pattern-show-css Show CSS
								| }
							pre.pattern-css
								code
									div <span class="class">.usa-diamond</span> {
									div 	<span class="property">background:</span> <span class="function">linear-gradient</span>(
									div 			<span class="unit">45deg</span>,
									div 			<span class="color">#b22234</span> <span class="unit">25%</span>,
									div 			<span class="color">transparent</span> <span class="unit">0</span>,
									div 			<span class="color">transparent</span> <span class="unit">75%</span>,
									div 			<span class="color">#3c3b6e</span> <span class="unit">0</span>,
									div 			<span class="color">#3c3b6e</span>
									div 		),
									div 		<span class="function">linear-gradient</span>(
									div 			<span class="unit">-45deg</span>, 
									div 			<span class="color">#b22234</span> <span class="unit">25%</span>, 
									div 			<span class="color">transparent</span> <span class="unit">0</span>, 
									div 			<span class="color">transparent</span> <span class="unit">75%</span>, 
									div 			<span class="color">#3c3b6e</span> <span class="unit">0</span>, 
									div 			<span class="color">#3c3b6e</span>
									div 		), <span class="color">#fff</span>;
									div 	<span class="property">background-position:</span> <span class="unit">50% 50%</span>;
									div 	<span class="property">background-size:</span> <span class="unit">0.5in 0.5in</span>;
									div }
					figure.pattern
						.pattern-block.usa-radial
						figcaption.pattern-meta 
							code.pattern-snippet 
								| <span class="class">.usa-radial</span> {
								button.pattern-show-css Show CSS
								| }
							pre.pattern-css
								code
									div <span class="class">.usa-radial</span> {
									div 	<span class="property">background:</span> <span class="function">radial-gradient</span>(
									div 			<span class="color">circle at</span> <span class="unit">50% 0</span>,
									div 			<span class="color">#fff</span> <span class="unit">0</span>,
									div 			<span class="color">#fff</span> <span class="unit">0.2in</span>,
									div 			<span class="color">#3c3b6e</span> <span class="unit">0</span>,
									div 			<span class="color">#3c3b6e</span> <span class="unit">0.4in</span>,
									div 			<span class="color">#fff</span> <span class="unit">0</span>,
									div 			<span class="color">#fff</span> <span class="unit">0.6in</span>,
									div 			<span class="color">#b22234</span> <span class="unit">0</span>,
									div 			<span class="color">#b22234</span> <span class="unit">0.8in</span>,
									div 			<span class="color">#fff</span> <span class="unit">0</span>,
									div 			<span class="color">#fff</span> <span class="unit">1.2in</span>
									div 		),
									div 		<span class="color">#fff</span>;
									div 	<span class="property">background-size:</span> <span class="unit">1.4in 100%</span>;
									div 	<span class="property">background-position:</span> <span class="unit">50% 0</span>;
									div 	<span class="property">background-repeat:</span> <span class="color">repeat-x</span>;
									div }
					figure.pattern
						.pattern-block.usa-plaid
						figcaption.pattern-meta 
							code.pattern-snippet 
								| <span class="class">.usa-plaid</span> {
								button.pattern-show-css Show CSS
								| }
							pre.pattern-css
								code
									div <span class="class">.usa-plaid</span> {
									div 	<span class="property">background:</span> <span class="function">repeating-linear-gradient</span>(
									div 			<span class="unit">45deg</span>,
									div 			<span class="color">#b22234</span> <span class="unit">0</span>,
									div 			<span class="color">#b22234</span> <span class="unit">0.2in</span>,
									div 			<span class="color">#fff</span> <span class="unit">0</span>,
									div 			<span class="color">#fff</span> <span class="unit">0.25in</span>,
									div 			<span class="color">transparent</span> <span class="unit">0</span>,
									div 			<span class="color">transparent</span> <span class="unit">0.5in</span>,
									div 			<span class="color">#fff</span> <span class="unit">0</span>,
									div 			<span class="color">#fff</span> <span class="unit">0.55in</span>
									div 		),
									div 		<span class="function">repeating-linear-gradient</span>(
									div 			<span class="unit">-45deg</span>,
									div 			<span class="color">#3c3b6e</span>,
									div 			<span class="color">#3c3b6e</span> <span class="unit">0.25in</span>,
									div 			<span class="color">transparent</span> <span class="unit">0</span>,
									div 			<span class="color">transparent</span> <span class="unit">0.4in</span>
									div 		),
									div 		<span class="color">#fff</span>;
									div }
					figure.pattern
						.pattern-block.usa-conic
						figcaption.pattern-meta 
							code.pattern-snippet 
								| <span class="class">.usa-conic</span> { 
								button.pattern-show-css Show CSS
								| }
							pre.pattern-css
								code
									div <span class="class">.usa-conic</span> {
									div 	<span class="property">background:</span> <span class="function">repeating-conic-gradient</span>(
									div 		<span class="color">#b22234</span> <span class="unit">0</span>,
									div 		<span class="color">#b22234</span> <span class="unit">10deg</span>,
									div 		<span class="color">#fff</span> <span class="unit">0</span>,
									div 		<span class="color">#fff</span> <span class="unit">20deg</span>,
									div 		<span class="color">#3c3b6e</span> <span class="unit">0</span>,
									div 		<span class="color">#3c3b6e</span> <span class="unit">30deg</span>,
									div 		<span class="color">#fff</span> <span class="unit">0</span>,
									div 		<span class="color">#fff</span> <span class="unit">40deg</span>
									div 	);
									div }
		footer			
			.wrapper
				.container
					p &copy; 2020 <a href="https://bennettfeely.com">Bennett Feely</a> (<a href="https://twitter.com/bennettfeely	">@bennettfeely</a>)<br> Released July 4, 2020<br> God Bless America!
		javascript:
			const buttons = document.querySelectorAll(".pattern-show-css");
			buttons.forEach((button) => {
				button.addEventListener('click', () => {
					var figure = button.parentNode.parentNode.parentNode;
					figure.classList.add("is-showing-code");
				});
			});
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-35724550-1', 'auto');
			ga('send', 'pageview');