// Partials ============================================================
@import "reset";
@import "functions";
@import "extensions";

$tablet: 4in;
$radius: 0.1776in;
$radius: 0;

$black: #1a1a1a;
$offwhite: #f0f0f0;

$red: #b22234;
$white: #fff;
$blue: #3c3b6e;

$gray: #ccc;

* {
	box-sizing: border-box;
}

// Base ================================================================
body {
	font: 100%/1.2 Libre Baskerville, Georgia;
	background: $white;
	color: $black;
	text-align: center;
}

.wrapper {
	max-width: 8in;
	margin: 0 auto;
}

.container {
	padding: 0.1776in;
	margin: 0.1776in 0;
}

.banner {
	height: 0.8in;
}

// Typography ==========================================================
h1 {
	font: bold 0.55in Libre Baskerville, Georgia;
}

h2 {
	font-size: 0.16in;
	margin: 0.1776in auto;
	line-height: 1.776;
	max-width: 80%;
}

p {
	margin-bottom: 0.1776in;
}

a {
	color: $blue;
}

.button {
	user-select: none;
	display: inline-block;
	color: $blue;
	background: $white;
	padding: 0.1776in;
	text-decoration: none;
	border-radius: 8px;

	&.primary {
		background: $red;
		color: $white;

		&:hover {
			background: $blue;
		}
	}
}

.downloads {
	margin: 0.1776in 0;
}

.download {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid;
}

.bytes {
	display: inline-block;
	margin-left: 0.1776in;
}

.shares {
	margin: 0.1776in 0 0;
}

.share {
	vertical-align: top;
	margin: 0 0.1776in;
}

code {
	font: 100% Monaco, monospace;
}

em {
	font-style: italic;
}

// Patterns ============================================================
.pattern {
	font-size: 90%;
	display: flex;
	flex-direction: row;
	padding: 0.1776in 0;
	text-align: left;

	&.is-showing-code {
		flex-direction: column;
		margin: 0.1776in 0;
	}
}

.pattern-block {
	flex: 1 0 50%;
	min-height: 1.776in;
	border-radius: 8px;

	.is-showing-code & {
		width: 100%;
	}
}

.pattern-meta {
	width: 50%;
	line-height: 1.776;
	margin: 0 0 0 0.1776in;
	background: $black;
	color: $white;
	padding: 0.1776in;
	border-radius: 8px;
	color: shade($gray, 20%);

	.is-showing-code & {
		width: 100%;
		margin: 0.1776in 0 0 0;
	}
}

.pattern-show-css {
	font: inherit;
	font-size: 100%;
	display: block;
	margin: 1.776px 0 1.776px 3ch;
	padding: 0 1ch;
	background: transparent;
	border: 1px solid;
	line-height: 1.776;
	cursor: pointer;
	color: $white;
	border-radius: 4px;

	&:hover {
		color: $gray;
	}
}

.pattern-css {
	display: none;
	flex: 1;
	tab-size: 2;
	overflow: hidden;
	min-width: 100%;
	overflow-x: scroll;
}

.is-showing-code {
	.pattern-snippet {
		display: none;
	}

	.pattern-css {
		display: block;
	}
}

// Code ================================================================
$red-code: #7aa6da;
$blue-code: #d54e53;
$white-code: $white;

.class {
	color: $blue-code;
}

.property {
	color: $red-code;
}

.function {
	color: $blue-code;
}

.color {
	color: $red-code;
}

.unit {
	color: $code-white;
}

// Footer ==============================================================
footer {
	font-size: smaller;
	line-height: 1.776;
}

// Ad ==================================================================
.ad {
	position: relative;
	padding: 0.1776in;
	text-align: center;
	min-height: 120px;
	max-width: 300px;
	width: 100%;
	margin: 0.1776in auto;
	overflow: hidden;
	background: linear-gradient(to bottom right, #eee, $white, $white, #eee);
	border-radius: 8px;
	font: 80% Monaco, monospace;
}

#carbonads {
	position: relative;
	z-index: 10;
	min-height: 100px;

	&:hover {
		color: $red;
	}
}

.carbon-img {
	margin: 0 auto;

	img {
		border-radius: $radius;
		vertical-align: middle;
	}
}

.carbon-text,
.carbon-poweredby {
	display: block;
	text-decoration: none;
	color: inherit;
}

.carbon-text {
	padding: 0.1776in 0;
}

.carbon-poweredby {
	font-size: smaller;
	opacity: 0.5;

	&:before {
		content: "/* ";
	}
	&:after {
		content: " */";
	}
}
