// Partials ============================================================
@import "reset";
@import "functions";
@import "extensions";

$tablet: 4in;
$radius: 0.1776in;
$radius: 0;

$black: #1a1a1a;
$offwhite: #f0f0f0;

$red: #b22234;
$white: #fff;
$blue: #3c3b6e;

$gray: #ccc;

* {
	box-sizing: border-box;
}

// Base ================================================================
body {
	font: 100%/1.2 Libre Baskerville, Georgia;
	background: $white;
	color: $black;
}

.wrapper {
	max-width: 7.75in;
	margin: 0 auto;
}

.container {
	padding: 0.1776in;
	margin: 0.1776in 0;
}

.banner {
	height: 1in;
}

header,
footer {
	text-align: center;
}

main {
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	background: ghostwhite;
}

// Typography ==========================================================
h1 {
	font: bold 0.55in Libre Baskerville, Georgia;
}

h2 {
	font-size: 0.16in;
	margin: 0.1776in auto;
	line-height: 1.776;
	max-width: 80%;
}

p {
	margin-bottom: 0.1776in;
}

a {
	color: $blue;
}

.button {
	user-select: none;
	display: inline-block;
	color: $blue;
	background: $white;
	padding: 0.1776in;
	text-decoration: none;

	&.primary {
		background: $red;
		color: $white;

		&:hover {
			background: $blue;
		}
	}
}

.downloads {
	margin: 0.1776in 0;
}

.download {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid;
}

.bytes {
	display: inline-block;
	margin-left: 0.1776in;
}

.shares {
	margin-top: 0.1776in;
}

.share {
	vertical-align: top;
	margin: 0 0.1776in;
}

pre,
code {
	font: 100% Monaco, monospace;
}

em {
	font-style: italic;
}

// Patterns ============================================================
.pattern {
	font-size: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.1776in 0;

	&.is-showing-code {
		flex-direction: column;
		margin: 0.1776in 0;
		background: $white;
		border: 1px solid $gray;
	}
}

.pattern-block {
	flex: 1 0 50%;
	min-height: 1.776in;

	.is-showing-code & {
		width: 100%;
		box-shadow: inset -0.1776in 0 $white, inset 0.1776in 0 $white;
	}
}

.pattern-meta {
	width: 50%;
	line-height: 1.776;
	margin: 0 0 0 0.1776in;

	.is-showing-code & {
		width: 100%;
		margin: 0.1776in 0 0 0;
	}
}

.pattern-show-css {
	font: inherit;
	font-size: 100%;
	display: block;
	margin: 0 0 0 3ch;
	padding: 0 1ch;
	background: white;
	border: 1px solid $gray;
	line-height: 1.776;
	cursor: pointer;
	background: $white;

	&:hover {
		border-color: $black;
	}
}

.pattern-css {
	display: none;
	flex: 1;
	white-space: pre;
	tab-size: 2;
	padding: 0;
	border: 1px solid $gray;
	border-top: 0;
	overflow: hidden;
	word-break: break-word;
	min-width: 100%;
	padding: 0 0.1776in 0.1776in;
	overflow-x: scroll;
	border: 0;
}

.is-showing-code {
	.pattern-snippet {
		display: none;
	}

	.pattern-css {
		display: block;
	}
}

// Footer ==============================================================
footer {
	font-size: smaller;
	line-height: 1.776;
}

// Ad ==================================================================
.ad {
	position: relative;
	padding: 0.1776in;
	text-align: center;
	min-height: 120px;
	max-width: 300px;
	width: 100%;
	font-size: 90%;
	margin: 0.1776in auto;
	overflow: hidden;
	border: 1px solid $gray;
}

#carbonads {
	position: relative;
	z-index: 10;
	min-height: 100px;
}

.carbon-img {
	margin: 0 auto;

	img {
		border-radius: $radius;
		vertical-align: middle;
	}
}

.carbon-text,
.carbon-poweredby {
	display: block;
	color: $blue !important;
	text-decoration: none;
}

.carbon-text {
	padding: 0.75rem 0;
}

.carbon-poweredby {
	font-size: smaller;
	opacity: 0.5;
}
