// Partials ============================================================
@import "reset";
@import "functions";
@import "extensions";

$tablet: 4in;

$black: #1a1a1a;
$gray: #ccc;
$white: #fff;

$red: #b22234;
$blue: #3c3b6e;

$blue-code: #7aa6da;
$red-code: #d54e53;
$gray-code: $gray;
$white-code: $white;

$blue-link: #0366d6;

$radius-small: 4px;
$radius-large: 8px;

// Base ================================================================
body {
	font: 100%/1.1776 Libre Baskerville, Georgia;
	background: $white;
	color: $black;
	text-align: center;
}

.wrapper {
	max-width: 8.15in;
	margin: 0 auto;
}

.container {
	padding: 0.1776in;
}

.banner {
	height: 1in;
}

// Typography ==========================================================
h1 {
	font-size: 0.55in;
}

h2 {
	font-weight: normal;
	font-size: 0.16in;
	margin: 0.1776in auto;
	line-height: 1.776;
	max-width: 80%;
}

p {
	margin-bottom: 0.1776in;
}

a {
	color: $blue-link;

	&:hover {
		color: shade($blue-link, 50%);
	}
}

code {
	font: 100% Monaco, monospace;
}

// Header ==============================================================
.button {
	user-select: none;
	display: inline-block;
	color: $blue-link;
	background: $white;
	padding: 0.1776in;
	text-decoration: none;
	border-radius: $radius-large;

	&.primary {
		background: $red;
		color: $white;

		&:hover {
			background: $blue;
		}
	}
}

.bytes {
	display: inline-block;
	margin-left: 0.1776in;
}

.download-wrapper,
.share-wrapper {
	margin: 0.1776in 0 0;
}

.download {
	display: inline-block;
	text-decoration: none;
	border-bottom: thin solid;
}

.share {
	vertical-align: top;
	margin: 0 0.1776in;
}

// Patterns ============================================================
.pattern {
	font-size: 12px;
	display: flex;
	flex-direction: row;
	padding: 0.1776in 0;
	text-align: left;

	&.is-showing-code {
		flex-direction: column;
	}

	@media (min-width: $tablet) {
		font-size: 90%;
	}
}

.pattern-preview {
	flex: 1 0 50%;
	min-height: 1.776in;
	border-radius: $radius-large;
	background: $gray;
}

.pattern-meta {
	width: 50%;
	line-height: 1.4;
	margin: 0 0 0 0.1776in;
	background: $black;
	color: $white;
	border-radius: $radius-large;
	color: $gray-code;

	.is-showing-code & {
		width: 100%;
		margin: 0.1776in 0 0 0;
	}
}

.pattern-snippet {
	display: block;
	padding: 0.1776in;
}

.pattern-show-css-button {
	display: block;
	font: inherit;
	line-height: 1.776;
	user-select: none;
	border: 1px solid;
	padding: 0 1ch;
	background: transparent;
	cursor: pointer;
	color: $white;
	border-radius: $radius-small;
	margin: $radius-large 2ch;

	&:hover {
		color: $gray;
	}
}

.pattern-css {
	display: none;
	flex: 1;
	tab-size: 2;
	overflow: hidden;
	min-width: 100%;
	overflow-x: scroll;
	padding: 0.1776in;
}

.is-showing-code {
	.pattern-snippet {
		display: none;
	}

	.pattern-css {
		display: block;
	}
}

// Code ================================================================
.class {
	color: $red-code;
}

.property {
	color: $blue-code;
}

.function {
	color: $red-code;
}

.color {
	color: $blue-code;
}

.unit {
	color: $white-code;
}

.comment {
	color: $white-code;
	opacity: 0.5;

	a {
		color: inherit;
		text-decoration: none;

		.pattern-css:hover & {
			text-decoration: underline;
		}
	}
}

// Footer ==============================================================
footer {
	font-size: 85%;
	line-height: 1.776;

	a {
		text-decoration: none;
		border-bottom: thin solid;
	}
}

// Ad ==================================================================
.ad {
	position: relative;
	padding: 0.1776in;
	text-align: center;
	min-height: 120px;
	max-width: 300px;
	width: 100%;
	margin: 0.1776in auto;
	overflow: hidden;
	border-radius: $radius-large;
	font: 80%/1.4 Monaco, monospace;
	background: linear-gradient(#ddd, $white);
}

#carbonads {
	position: relative;
	z-index: 10;
	min-height: 100px;

	&:hover {
		color: $red;
	}
}

.carbon-img {
	margin: 0 auto;

	img {
		border-radius: $radius-small;
		vertical-align: middle;
	}
}

.carbon-text,
.carbon-poweredby {
	display: block;
	text-decoration: none;
	color: inherit;
}

.carbon-text {
	padding: 0.1776in 0;
}

.carbon-poweredby {
	font-size: smaller;
	opacity: 0.5;

	&:before {
		content: "/* ";
	}
	&:after {
		content: " */";
	}
}
