doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Bennett Feely
		meta(name="description", content="Bennett Feely is a web developer from Pittsburgh, currently making websites for Carnegie Mellon University.")
		link(href="style.min.css", rel="stylesheet")
		link(rel="preconnect", href="https://fonts.gstatic.com/", crossorigin)
		link(href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet")
		link(rel="apple-touch-icon", sizes="180x180", href="_img/apple-touch-icon.png")
		link(rel="icon" type="image/png", sizes="32x32", href="_img/favicon-32x32.png")
		link(rel="icon" type="image/png", sizes="16x16", href="_img/favicon-16x16.png")
		link(rel="mask-icon", href="img//safari-pinned-tab.svg", color="#5bbad5")
		meta(name="msapplication-TileColor", content="#2d89ef")
		meta(name="theme-color", content="#ffffff")
	body
		.header-wrapper
			header
				.container
					img.me(src="_img/me.jpg", width="250", height="250", alt="Headshot of Bennett Feely")
					h1 Hello! My name is Bennett Feely. <br>I make websites so you don't have to.

		.main-wrapper
			section
				.container
					h2.section-heading Recent Projects
					ul.projects
						li.project
							a.project-link(href="/clippy", data-img="clippy")
								.screenshot
									img(src="_img/clippy_1200x900.png", width="600", height="450", alt="")
								.line
								.caption <strong>Clippy</strong>, a tool for making CSS clip paths
						li.project
							a.project-link(href="/csscreatures", data-img="csscreatures")
								.screenshot
									img(src="_img/csscreatures_1200x900.png", width="600", height="450", alt="")
								.line
								.caption <strong>CSS Creatures</strong>, parsing tweets to make a creature
						li.project
							a.project-link(href="/antiweather", data-img="antiweather")
								.screenshot
									img(src="_img/antiweather_1200x900.png", width="600", height="450", alt="")
								.line
								.caption <strong>Antiweather</strong>, see what the weather's like on the other side of the world
						li.project
							a.project-link(href="https://plaintextlist.com", data-img="plaintextlist")
								.screenshot
									img(src="_img/plaintextlist_1200x900.png", width="600", height="450", alt="")
								.line
								.caption <strong>Plain Text List</strong>, quick copy and pasteable lists
						li.project
							a.project-link(href="/flexplorer", data-img="flexplorer")
								.screenshot
									img(src="_img/flexplorer_1200x900.png", width="600", height="450", alt="")
								.line
								.caption <strong>Flexplorer</strong>, learn how flexbox works with lists
						li.project
							a.project-link(href="/cssscales", data-img="cssscales")
								.screenshot
									img(src="_img/cssscales_1200x900.png", width="600", height="450", alt="")
								.line
								.caption <strong>CSS Scales</strong>, accessible CSS gradients
						li.project
							a.project-link(href="/image-effects", data-img="imageeffects")
								.screenshot
									img(src="_img/imageeffects_1200x900.png", width="600", height="450", alt="")
								.line
								.caption <strong>CSS Image Effects</strong>, using blend modes for complex image effects
		.contact-wrapper
			section
				.container
					h2.section-heading Contact
					ul.contacts
						li.contact
							a.contact-link(href="https://twitter.com/bennettfeely") <strong>Twitter</strong> @bennettfeely
						li.contact
							a.contact-link(href="https://github.com/bennettfeely") <strong>GitHub</strong> @bennettfeely
						li.contact
							a.contact-link(href="https://instagram.com/bennettfeely") <strong>Instagram</strong> @bennettfeely
						li.contact
							a.contact-link(href="https://codepen.io/bennettfeely") <strong>CodePen</strong> /bennettfeely
						li.contact
							a.contact-link(href="https://www.linkedin.com/in/bennettfeely/") <strong>LinkedIn</strong> /bennettfeely
						li.contact
							a.contact-link(href="mailto:bfeelyweb@gmail.com") <strong>Email</strong> bfeelyweb@gmail.com
		.copyright-wrapper
			.container
				p &copy 2019 Bennett Feely
		script(src="bennett.js")



